/* Estilos Generales */
.oculto {
  display: none;
}
.mTop12 {
  margin-top: 12px !important;
}
.mLeft5 {
  margin-left: 5px !important;
}
.mLeft12 {
  margin-left: 12px !important;
}
.mRight12 {
  margin-right: 12px !important;
}
.mRight12 {
  margin-right: 12px !important;
}
.fLeft {
  float: left !important;
}
.fRight {
  float: right !important;
}
.vTop {
  vertical-align: top !important;
}
.tLeft {
  text-align: left !important;
}
.tRight {
  text-align: right !important;
}
.tCenter {
  text-align: center;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #000000;
  min-height: 100%;
  position: relative;
  font-family: 'Segoe UI';
}
.contenido-centrado {
  width: 99.9%;
  margin: 0 auto;
}
h1 {
  font-family: 'Segoe UI';
  font-size: 36px;
  font-weight: Bold;
  letter-spacing: 0;
  line-height: 48px;
  text-align: center;
}
h1 img {
  vertical-align: initial;
  margin-left: 15px;
  cursor: pointer;
}
a {
  font-size: 15px;
}
a .icon-arrow {
  width: 17px;
  height: 9px;
  margin-left: 10px;
}
a .icon-arrow.down {
  transform: rotate(180deg);
}
a .icon-arrow.up {
  transform: rotate(0deg);
}
.topMenu {
  margin-top: 20px;
  background-color: white;
}
.logoContainer {
  margin-top: 15px;
  margin-bottom: 15px;
}
.logoContainer a img {
  width: 120px;
  margin-left: 2em;
}
.footer {
  margin: 100px 0 5px 0;
  text-align: left;
  width: 100%;
}
#footerLinks {
  height: 35px;
  padding: 10px 10px 0 10px;
  color: #FFF !important;
  font-size: 11px;
  background-color: #666;
  width: 1080px;
  line-height: 1.42857143;
}
.separador-hf {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: -1px !important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px !important;
  z-index: 2;
}
.cont50-50 {
  float: left;
  position: relative;
}
.left {
  text-align: left;
  margin-left: 2em;
  width: 35%;
}
.right {
  text-align: right;
  margin-right: 2em;
  width: 60%;
}
.pRow {
  float: left;
  margin-right: 15px;
  border-top: solid thin lightgrey;
  letter-spacing: 0.1px;
}
.pRow-Right {
  float: right;
  margin-right: 15px;
  letter-spacing: 0.1px;
  margin-bottom: 0px;
}
.linkFooter {
  color: #407AB1;
}
.subir {
  color: black;
  text-decoration: none !important;
}
.subir:hover {
  text-decoration: underline !important;
}
.contenedorFooter {
  height: 20px;
}
.flecha-arriba {
  width: 10px;
}
@media only screen and (max-width: 992px) {
  .pRow-Right {
    float: left;
    margin-right: 15px;
    letter-spacing: 0.5px;
    margin-left: 2em;
  }
  .right {
    text-align: left;
    width: 100%;
  }
  .left {
    width: 100%;
  }
  .aireMas {
    margin-top: 15px;
  }
}
.flecha-arriba {
  width: 10px;
}
/* Añadir a partir de aqui en el .scss de upload-file */
/******************** OJO ***********************/
/* Estilos para el componente de bienvenida calculadora */
.bienvenida-calculadora {
  /* Estilos preguntas frecuentes */
}
.bienvenida-calculadora .embed-container {
  position: relative;
  padding-bottom: 33.25%;
  height: 0;
  overflow: hidden;
  width: 58%;
  margin-right: auto;
  margin-left: auto;
}
.bienvenida-calculadora .embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .bienvenida-calculadora .embed-container {
    padding-bottom: 56.25%;
    width: 100%;
  }
}
.bienvenida-calculadora video {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.bienvenida-calculadora p:first-child {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  line-height: 27px;
}
@media (max-width: 320px) {
  .bienvenida-calculadora p:first-child {
    font-size: 15px;
    line-height: 20px;
  }
}
.bienvenida-calculadora p + a {
  display: block;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
.bienvenida-calculadora #ver-instrucciones-detalladas > div {
  margin-top: 20px;
  background: #F2F2F2;
  font-size: 15px;
  margin-bottom: 10px;
  display: inline-flex;
}
.bienvenida-calculadora #ver-instrucciones-detalladas > div div {
  margin-top: 20px;
}
.bienvenida-calculadora #ver-instrucciones-detalladas > div div > div {
  font-family: 'Segoe UI';
  font-weight: bold;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  /*padding: 8px;*/
  background: transparent;
  border: 1px solid #707070;
  color: #111;
  text-align: center;
  font-size: 20px;
  float: left;
  margin-top: 3px;
}
@media (max-width: 480px) {
  .bienvenida-calculadora #ver-instrucciones-detalladas > div div > div {
    margin-bottom: 5px;
    float: initial;
    margin-left: auto;
    margin-right: auto;
  }
}
.bienvenida-calculadora #ver-instrucciones-detalladas > div div:nth-child(2):after {
  bottom: 110%;
  left: 46.8%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(242, 242, 242, 0);
  border-bottom-color: #F2F2F2;
  border-top-width: 25px;
  border-bottom-width: 25px;
  border-left-width: 40px;
  border-right-width: 40px;
  margin-left: -25px;
}
@media (max-width: 480px) {
  .bienvenida-calculadora #ver-instrucciones-detalladas > div div:nth-child(2):after {
    bottom: 105%;
  }
}
@media (max-width: 320px) {
  .bienvenida-calculadora #ver-instrucciones-detalladas > div div:nth-child(2):after {
    bottom: 104%;
    left: 33%;
  }
}
.bienvenida-calculadora #ver-instrucciones-detalladas p {
  width: 90%;
  float: right;
}
@media (max-width: 480px) {
  .bienvenida-calculadora #ver-instrucciones-detalladas p {
    width: 100%;
  }
}
.bienvenida-calculadora .input-file {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bienvenida-calculadora .input-file input[type="file"] {
  /* visibility: hidden etc. wont work */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.bienvenida-calculadora .input-file input[type="file"] + label {
  font-size: 20px;
  background: #000;
  color: #fff;
  padding: 10px 45px 10px 45px;
  font-weight: normal;
  cursor: pointer;
}
.bienvenida-calculadora .input-file input[type="file"]:focus + label {
  /* keyboard navigation */
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.bienvenida-calculadora .input-file input[type="file"] + label * {
  pointer-events: none;
}
.bienvenida-calculadora hr {
  border-top: 1px solid #707070;
  margin-left: 5%;
  margin-right: 5%;
}
@media (max-width: 320px) {
  .bienvenida-calculadora hr {
    margin-right: 0px;
    margin-left: 0px;
  }
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida {
  font-family: 'Segoe UI';
  margin-bottom: 20px;
  /* Estilos paneles */
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida h3 {
  margin-top: 15px;
  text-align: center;
  font-size: 25px !important;
  font-weight: bold;
}
@media (max-width: 320px) {
  .bienvenida-calculadora .contenedor-preguntas-bienvenida h3 {
    font-size: 19px !important;
    margin-bottom: 15px;
  }
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #707070;
  padding-bottom: 10px;
  padding-top: 0px;
  background: #ffffff;
  cursor: pointer;
}
@media (max-width: 320px) {
  .bienvenida-calculadora .contenedor-preguntas-bienvenida a {
    font-size: 14px !important;
    margin-bottom: 20px;
  }
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida p {
  font-size: 20px;
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida p:first-child {
  text-align: left;
}
@media (max-width: 320px) {
  .bienvenida-calculadora .contenedor-preguntas-bienvenida p {
    font-size: 15px;
    margin-top: 0px;
  }
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida .panel-group {
  margin-bottom: 0;
  margin-right: 5%;
  margin-left: 5%;
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida .panel-group .panel.panel-default {
  border-color: #ffffff;
  box-shadow: none;
  margin-bottom: 10px;
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida .panel-group .panel.panel-default .panel-heading {
  padding: 0;
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida .panel-group .panel.panel-default .panel-body {
  border-top: none;
  padding: 0;
}
@media (max-width: 320px) {
  .bienvenida-calculadora .contenedor-preguntas-bienvenida .panel-group {
    margin-right: 0px;
    margin-left: 0px;
  }
}
/* Estilos responsive */
@media (max-width: 992px) {
  .contenedorFooter {
    margin-left: 10px;
  }
  .cont50-50.left {
    margin-left: 0px;
  }
  .cont50-50.right {
    margin-right: 0px;
  }
}
@media (max-width: 768px) {
  .contenedorFooter {
    margin-left: 20px;
  }
}
@media (max-width: 480px) {
  #ver-instrucciones-detalladas > div {
    margin-top: 30px !important;
  }
}
@media (max-width: 320px) {
  h1 {
    font-size: 20px;
    line-height: 27px;
  }
  h1 img {
    width: 20px;
  }
  p {
    font-size: 15px;
  }
  a {
    font-size: 15px !important;
  }
}
