/* Importamos librerias */
/* @import 'url-libreria.ext';*/
/* Estilos Generales */
.oculto {
  display: none;
}
.mTop12 {
  margin-top: 12px !important;
}
.mLeft5 {
  margin-left: 5px !important;
}
.mLeft12 {
  margin-left: 12px !important;
}
.mRight12 {
  margin-right: 12px !important;
}
.mRight12 {
  margin-right: 12px !important;
}
.fLeft {
  float: left !important;
}
.fRight {
  float: right !important;
}
.vTop {
  vertical-align: top !important;
}
.tLeft {
  text-align: left !important;
}
.tRight {
  text-align: right !important;
}
.tCenter {
  text-align: center;
}
/* Estilos Sidebar fijo */
/*.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}
.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}
.wrapper:after,
.column:after {
    clear: both;
}*/
#sidebar {
  /*background-color:#eee;*/
  height: 100%;
  position: fixed;
  right: 0;
}
@media (max-width: 992px) {
  #sidebar {
    position: relative;
    width: 100%;
  }
}
@media (max-width: 480px) {
  #sidebar {
    padding-left: 0px;
    padding-right: 0px;
  }
  #main {
    padding-left: 0px;
    padding-right: 0px;
  }
}
/* collapse con flecha */
a {
  font-size: 15px;
}
a .icon-arrow {
  width: 17px;
  height: 9px;
  margin-left: 10px;
}
a .icon-arrow.down {
  transform: rotate(180deg);
}
a .icon-arrow.up {
  transform: rotate(0deg);
}
@media all {
  .input-checkbox label {
    cursor: pointer;
  }
  .input-checkbox:not([data-disable-style="true"]) {
    position: relative;
    /* Disabled labels */
    /* Focused custom elements */
    /* Custom checkbox input */
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"] + label:before {
    display: inline-block;
    content: "";
    background: url("../images/form-sprite.svg") no-repeat 0 0;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    /*margin: 0.25rem 0.35rem 0.25rem 0.25rem;*/
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:disabled + label {
    color: #999;
    cursor: not-allowed;
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:focus + label:before {
    box-shadow: 0 0 0 3px #9ebcdb;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"] + label:before {
    background-position: 0 0;
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:checked + label:before {
    background-position: 0 -82px;
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:active + label:before,
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"][data-active="true"] + label:before {
    background-position: 0 -27px;
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:checked:active + label:before,
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:checked[data-active="true"] + label:before {
    background-position: 0 -109px;
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:disabled + label:before {
    background-position: 0 -54px;
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:checked:disabled + label:before {
    background-position: 0 -136px;
  }
}
/* Estilos formulario */
@media all {
  .text {
    margin-bottom: 12px;
  }
  .text input {
    display: block;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 13px;
  }
  .text input:active,
  .text input:focus {
    box-shadow: 0 0 0 0.1875rem #b0cae2;
    margin: 0;
    outline: 0;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
  }
  .text input:hover {
    border-color: #999;
  }
  .text label {
    display: inline-block;
    margin-bottom: 0.125rem;
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
  }
}
/* Estilos spinner loading */
.contenedor-cargando {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 499;
  position: absolute;
  background: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  -webkit-transition: display .5s linear;
  transition: display .5s linear;
}
.contenedor-cargando.imagen-cargando {
  position: absolute;
  height: 72px;
  width: 72px;
  margin: auto;
  top: calc(16%);
  left: calc(16%);
  /*background-image: url(data:image/gif;base64,R0lGODlhSABIAPcAAAAAAAEBAQICAgMDAwQEBAUFBQYGBgcHBwgIC…AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==);*/
}
/* Estilos del menu IKEA */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #000000;
  min-height: 100%;
  position: relative;
}
/*h1{font-size:13px;margin-top:35px;margin-bottom:0;padding:0;font-weight:normal;letter-spacing:1px;text-transform:uppercase;}*/
h1 {
  font-family: 'Segoe UI';
  font-size: 36px;
  font-weight: Bold;
  letter-spacing: 0;
  line-height: 48px;
  text-align: center;
}
h1 img {
  vertical-align: initial;
  margin-left: 15px;
  cursor: pointer;
}
@media (max-width: 480px) {
  h1 {
    font-size: 20px;
    line-height: 27px;
  }
  h1 img {
    width: 20px;
  }
}
/* Esta por decidir */
/*h2{font-size:25px;margin-top:3px;font-weight:bold;}*/
h3 {
  font-family: 'Segoe UI';
  font-weight: bold;
  text-decoration: underline;
  color: #000000;
  font-size: 19px;
}
textarea {
  resize: vertical;
}
.separado {
  margin-top: 25px;
}
.header {
  margin-top: 5px;
  border-bottom: 1px solid #ccc;
}
.control-label {
  text-align: left !important;
  font-weight: bolder !important;
  padding-top: 12px;
}
.block-title {
  background-color: #f7f7f7;
  color: #0360a6;
  padding: 4px 15px;
  font-size: 15px;
  margin-top: 10px;
}
.form-corto {
  width: auto;
}
.form-control {
  height: 45px !important;
  border-radius: 0px !important;
  font-size: 13px;
}
.link1 {
  text-decoration: underline;
  color: #3531fa;
}
.link1:hover {
  text-decoration: none;
  color: #3531fa;
}
.textlegal {
  font-size: 12px;
  color: #8c8b8b;
}
.mid-air {
  margin-top: 15px;
}
.parrafo-IKEA {
  font-size: 13px;
  line-height: 147%;
  font-weight: lighter;
}
/* Botones */
button.boton {
  font-family: 'Segoe UI';
  font-size: 20px;
  background: transparent;
  border: 1px solid #000000;
  color: #000000;
  padding: 14px 45px 14px 45px;
}
button.boton.principal {
  background: #000000;
  color: #FFFFFF;
  font-weight: bold;
}
button.boton.cerrar {
  background: #3b3B3B;
  color: #FFFFFF;
}
/*.btn {
    background-color: #337ab7 !important;
    background-image: none !important;
    border-radius: 0px !important;
    margin-top: 15px;
    width: 250px;
    height: 50px;
    font-weight: lighter !important;
    font-size: 12px;
    color: white !important;
}
.btn:hover{
    cursor: pointer;
    background-color: #265a88 !important;
}*/
.h4-IKEA {
  font-weight: bolder;
  font-size: 17px;
  line-height: 130%;
}
/*@media (min-width:992px) and (max-width:1200px){
	h1{margin-top:25px;}
    .control-label {
        padding-top: 12px !important;
        font-weight: bolder !important;
    }
}*/
@media (min-width: 768px) and (max-width: 991px) {
  /*h1{font-size:12px;margin-top:22px;}*/
  /*h2{font-size:22px;}*/
  /*.control-label{padding-top: 12px !important;}*/
}
@media (max-width: 767px) {
  /*h1{margin-top:25px;}*/
  /*h2{margin-bottom:25px;}*/
  /*.center-xs{text-align:center;}
.center-xs img{display:inline;}*/
}
/* Estilos detalle factura */
.contenedor-factura-detalle {
  width: 100%;
  padding: 6px 30px 2px 20px;
  background: #e7e7e7;
  height: 34px;
}
.contenedor-factura-detalle p {
  font-family: 'Segoe UI Regular';
  font-size: 17px;
  line-height: 22px;
}
.contenedor-factura-detalle a {
  font-family: 'Segoe UI Regular';
  font-size: 15px;
  line-height: 22px;
}
@media (max-width: 480px) {
  .contenedor-factura-detalle {
    padding: 6px 10px 2px 10px;
  }
  .contenedor-factura-detalle p {
    font-size: 15px;
  }
}
.contenedor-sel-todo {
  margin-bottom: 45px;
}
/* Estilos listado de muebles */
div.contenedor-listado-muebles {
  background: #ffffff;
  border: 1px solid #CACACA;
  /*padding-top: 13px;*/
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
}
div.contenedor-listado-muebles a {
  font-size: 15px;
}
div.contenedor-listado-muebles a .icon-arrow {
  width: 17px;
  height: 9px;
  margin-left: 10px;
}
div.contenedor-listado-muebles a .icon-arrow.down {
  transform: rotate(180deg);
}
div.contenedor-listado-muebles a .icon-arrow.up {
  transform: rotate(0deg);
}
div.contenedor-listado-muebles:first-child {
  margin-top: 45px;
}
div.contenedor-listado-muebles .descripcion-mueble {
  margin-top: 10px;
  /*margin-bottom: 13px;*/
  font-family: 'Segoe UI Regular';
  font-size: 20px;
}
div.contenedor-listado-muebles .titulo-mueble {
  margin-top: 10px;
  /*margin-bottom: 13px;*/
  font-family: 'Segoe UI Regular';
  font-size: 20px;
}
div.contenedor-listado-muebles .numero-mueble {
  margin-top: 10px;
  font-family: 'Segoe UI Regular';
  font-size: 15px;
  color: #000000;
}
div.contenedor-listado-muebles .montaje {
  margin-top: 10px;
  font-family: 'Segoe UI Regular';
  font-size: 17px;
  color: #000000;
}
div.contenedor-listado-muebles .montaje .input-checkbox {
  /*margin-left: 30%;*/
  display: inline;
  float: right;
  margin-right: 50%;
}
@media (max-width: 992px) {
  div.contenedor-listado-muebles .montaje .input-checkbox {
    margin-right: 30%;
  }
}
@media (max-width: 768px) {
  div.contenedor-listado-muebles .montaje .input-checkbox {
    margin-right: 3.4%;
  }
}
div.contenedor-listado-muebles .retirada {
  margin-top: 10px;
  font-family: 'Segoe UI Regular';
  font-size: 17px;
  color: #000000;
}
div.contenedor-listado-muebles .retirada .input-checkbox {
  float: right;
  margin-right: 50%;
}
@media (max-width: 992px) {
  div.contenedor-listado-muebles .retirada .input-checkbox {
    margin-right: 30%;
  }
}
@media (max-width: 768px) {
  div.contenedor-listado-muebles .retirada .input-checkbox {
    margin-right: 3.4%;
  }
}
div.contenedor-listado-muebles .retirada .icon-information {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
div.contenedor-listado-muebles .cantidad {
  margin-top: 10px;
  font-family: 'Segoe UI Regular';
  font-size: 17px;
}
div.contenedor-listado-muebles .cantidad .number-spinner {
  display: inline;
  float: right;
  margin-right: 47.6%;
}
@media (max-width: 992px) {
  div.contenedor-listado-muebles .cantidad .number-spinner {
    margin-right: 26.8%;
  }
}
@media (max-width: 768px) {
  div.contenedor-listado-muebles .cantidad .number-spinner {
    margin-right: 0%;
  }
}
div.contenedor-listado-muebles .ver-productos {
  margin-top: 10px;
}
div.contenedor-listado-muebles .ver-productos a {
  font-size: 17px;
}
div.contenedor-listado-muebles .articulos-sin-montaje {
  margin-top: 10px;
  font-family: 'Segoe UI Regular';
  font-size: 17px;
  color: #000000;
}
div.contenedor-listado-muebles .producto-sin-montaje {
  margin-top: 10px;
  border-top: 1px solid #CACACA;
}
div.contenedor-listado-muebles .producto-sin-montaje:first-child {
  border-bottom: none;
}
div.contenedor-listado-muebles .sin-montaje {
  margin-top: 10px;
  background: #970000;
  color: #FFFFFF;
  width: 98px;
  height: 24px;
  text-align: center;
  padding: 3px;
}
div.contenedor-listado-muebles .content-ocultar-bajo {
  text-align: center;
  display: block;
  padding-top: 10px;
}
div.contenedor-listado-muebles .content-ocultar-bajo a {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}
div.contenedor-listado-muebles .content-ocultar-bajo .icon-arrow {
  width: 17px;
  height: 9px;
  margin-left: 10px;
}
div.contenedor-listado-muebles .content-ocultar-bajo .icon-arrow.up {
  transform: rotate(0deg);
}
@media (max-width: 768px) {
  div.contenedor-listado-muebles {
    padding-right: 15px;
    padding-left: 15px;
  }
}
/* Estilos de la calculadora */
.contenedor-calculadora-montaje {
  font-family: 'Segoe UI';
  margin-left: -19px;
  background: #E5E5E5;
  padding: 23px 36px 23px 36px;
}
.contenedor-calculadora-montaje .total-montaje {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Segoe UI';
  text-align: center;
}
.contenedor-calculadora-montaje .contenedor-botones {
  text-align: center;
}
.contenedor-calculadora-montaje .total-articulos {
  font-size: 20px;
  text-align: center;
}
.contenedor-calculadora-montaje .aviso {
  font-size: 16px;
  font-style: italic;
}
.contenedor-calculadora-montaje .contenedor-botones {
  margin-top: 25px;
  margin-bottom: 25px;
}
@media (max-width: 1310px) {
  .contenedor-calculadora-montaje {
    padding: 20px 20px 20px 20px;
  }
}
@media (max-width: 1200px) {
  .contenedor-calculadora-montaje {
    padding: 20px 20px 20px 20px;
  }
  .contenedor-calculadora-montaje .contenedor-botones button.boton {
    padding: 10px 25px 10px 25px;
  }
}
@media (max-width: 992px) {
  .contenedor-calculadora-montaje {
    margin-left: 0px;
  }
}
/* Estilos preguntas frecuentes */
.contenedor-preguntas-frecuentes {
  font-family: 'Segoe UI';
  /* Estilos paneles */
}
.contenedor-preguntas-frecuentes h3 {
  margin-top: 15px;
}
.contenedor-preguntas-frecuentes a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid #707070;
  padding-bottom: 5px;
  padding-top: 0px;
  background: #ffffff;
}
.contenedor-preguntas-frecuentes p {
  font-size: 15px;
}
.contenedor-preguntas-frecuentes .panel-group {
  margin-bottom: 0;
}
.contenedor-preguntas-frecuentes .panel-group .panel.panel-default {
  border-color: #fff;
  box-shadow: none;
}
.contenedor-preguntas-frecuentes .panel-group .panel.panel-default .panel-heading {
  padding: 0;
}
.contenedor-preguntas-frecuentes .panel-group .panel.panel-default .panel-body {
  border-top: none;
  padding: 0;
}
@media (max-width: 480px) {
  .contenedor-preguntas-frecuentes {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 992px) {
  .contenedor-preguntas-frecuentes h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 320px) {
  .contenedor-preguntas-frecuentes a {
    font-size: 14px !important;
    margin-bottom: 20px;
  }
}
/* Estilos componente number-spinner */
.number-spinner .input-value-spinner {
  width: 48%;
  text-align: center;
  border: none;
  /*pointer-events: none;*/
}
.number-spinner input[type=number]::-webkit-inner-spin-button,
.number-spinner input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number-spinner input[type=number] {
  -moz-appearance: textfield;
}
.number-spinner .glyphicon {
  font-size: 12px;
  cursor: pointer;
}
/* Estilos footer  */
body {
  font-family: 'Verdana';
  font-size: 12px;
}
.contenido-centrado {
  width: 99.9%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .contenido-centrado {
    width: 98%;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .contenido-centrado {
    width: 100%;
  }
}
.topMenu {
  margin-top: 20px;
  background-color: white;
}
.logoContainer {
  margin-top: 15px;
  margin-bottom: 15px;
}
.logoContainer a img {
  width: 120px;
  margin-left: 2em;
}
.footer {
  margin: 100px 0 5px 0;
  text-align: left;
  width: 100%;
}
#footerLinks {
  height: 35px;
  padding: 10px 10px 0 10px;
  color: #FFF !important;
  font-size: 11px;
  background-color: #666;
  width: 1080px;
  line-height: 1.42857143;
}
.separador-hf {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: -1px !important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px !important;
  z-index: 2;
}
.bottomMenu.separado {
  /*position: fixed;
    bottom: 0;
    width: 100%;*/
}
.bottomMenu.fijo {
  /*position: absolute;
    bottom: 0;
    width: 99.9%;*/
}
.cont50-50 {
  float: left;
  position: relative;
}
.left {
  text-align: left;
  margin-left: 2em;
  width: 35%;
}
.right {
  text-align: right;
  margin-right: 2em;
  width: 60%;
}
.pRow {
  float: left;
  margin-right: 15px;
  border-top: solid thin lightgrey;
  letter-spacing: 0.1px;
}
.pRow-Right {
  float: right;
  margin-right: 15px;
  letter-spacing: 0.1px;
  margin-bottom: 0px;
}
.linkFooter {
  color: #407AB1;
}
.subir {
  color: black;
  text-decoration: none !important;
}
.subir:hover {
  text-decoration: underline !important;
}
.contenedorFooter {
  height: 20px;
}
.flecha-arriba {
  width: 10px;
}
@media only screen and (max-width: 992px) {
  .pRow-Right {
    float: left;
    margin-right: 15px;
    letter-spacing: 0.5px;
    margin-left: 2em;
  }
  .right {
    text-align: left;
    width: 100%;
  }
  .left {
    width: 100%;
  }
  .aireMas {
    margin-top: 15px;
  }
}
@media (max-width: 992px) {
  .contenedorFooter {
    margin-left: 10px;
  }
  .cont50-50.left {
    margin-left: 0px;
  }
  .cont50-50.right {
    margin-right: 0px;
  }
}
@media (max-width: 768px) {
  .contenedorFooter {
    margin-left: 20px;
  }
}
/* Estilos para los modales con mensaje para usuario */
.contenedor-mensaje-usuario {
  font-family: 'Segoe UI';
  min-width: 475px;
}
.contenedor-mensaje-usuario .modal-dialog {
  border-radius: 0;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content {
  padding: 20px 25px 30px 25px;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-header {
  padding: 0;
  border-bottom: none;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-header .close {
  opacity: 1;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-header .close img {
  width: 14.5px;
  height: 14.5px;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-body {
  padding: 0;
  /*text-align: center;*/
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-body h4 {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-body p {
  font-size: 15px;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-footer {
  padding: 0;
  /*text-align: center;*/
  border-top: none;
  margin-top: 20px;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-footer button {
  width: 100%;
  font-weight: normal;
}
/* Estilos para selección con el ratón */
/*::selection {*/
/* WebKit/Blink Browsers */
/*background: #407AB1;
  color: #ffce01;
}*/
/*::-moz-selection {*/
/* Gecko Browsers */
/*background: #407AB1;
  color: #ffce01;
}*/
