<app-modal-popup id="guardado">
  <div class="contenedor-mensaje-usuario" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form [formGroup]="formulario" (ngSubmit)="onGuardar()">
          <div class="modal-header"><button type="button" class="close" data-dismiss="modal" (click)="cancelar()"><img
                src="assets/images/icono-cerrar.svg" alt="icono-cerrar"></button>
          </div>
          <div class="modal-body">
            <h4>ENVIARME EL PRESUPUESTO DEL SERVICIO DE MONTAJE</h4>
            <p>Cumplimenta los datos para que te enviemos un mail con el presupuesto de montaje según las opciones
              elegidas</p>
            <div class="error" *ngIf="error">
              <p>{{error}}</p>
            </div>
            <div class="form-group text">
              <label class="control-label" for="nombre">Nombre</label>
              <input class="form-control" type="text" name="nombre" formControlName="nombre" placeholder="Nombre"
                required autocomplete="off">
              <div *ngIf="submitted && f.nombre.errors" class="error">
                <p *ngIf="f.nombre.errors.required">El nombre es obligatorio</p>
              </div>
            </div>
            <div class="form-group text">
              <label class="control-label" for="nombre">E-mail</label>
              <input class="form-control" type="email" id="email" autocomplete="false" formControlName="email"
                placeholder="E-mail" autocomplete="off">
              <div *ngIf="submitted && f.email.errors" class="error">
                <p *ngIf="f.email.errors.required">El E-mail es obligatorio</p>
                <p *ngIf="f.email.errors.email">El E-mail no es correcto</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="boton principal" type="submit">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-modal-popup>