<div id="myModal" class="contenedor-mensaje-usuario modal fade" [ngClass]="{'in':showing}" [style.display]="showing? 'block':'none'">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="showing=false"><img
          src="assets/images/icono-cerrar.svg" alt="icono-cerrar"></button>
      </div>
      <div class="modal-body tCenter">
          <h4>{{titulo}}</h4>
          <p>{{mensaje}}</p>
      </div>
      <div class="modal-footer tCenter"><button type="button" class="boton cerrar"
        data-dismiss="modal" (click)="showing=false">Cerrar</button></div>
    </div>
  </div>
</div>