<div class="contenedor-listado-muebles">
  <div class="descripcion-mueble">{{data.Cantidad}}x <strong>{{data.Descripcion}}</strong></div>
  <!--<div class="titulo-mueble"><strong>{{data.Descripcion | soloMarca }}</strong></div>-->
  <div class="numero-mueble">{{data.Referencia}}</div>
  <div class="montaje" *ngIf="data.Montaje">
    <!--<div class="input-checkbox">
      <input type="checkbox" id="montaje_{{idcheck}}" class="checkbox" [checked]="data.UnidadesMontaje>0" (change)="cambioSeleccionMontaje($event)">
      <label for="montaje_{{idcheck}}">
        <span class="oculto">Montaje</span>
      </label>
    </div>-->
    <div class="label-descripcion">Montaje</div>
    <div class="switch fRight">
      <input type="checkbox" [checked]="data.UnidadesMontaje>0" class="switch__input" id="montaje_{{idcheck}}" (change)="cambioSeleccionMontaje($event)"/>
      <div class="switch__background">
        <span class="switch__ball">
          <svg focusable="false" viewBox="0 0 32 32" width="32" height="32" class="svg-icon switch__icon" aria-hidden="true">
            <path *ngIf="data.UnidadesMontaje>0" d="M19.29,6.79l-8.76,8.77L5.74,10.32,4.26,11.68l6.21,6.76L20.71,8.21Z"></path>
            <path *ngIf="!(data.UnidadesMontaje>0)" d="M13.45,12,16.71,8.7,15.29,7.3,12,10.59,8.74,7.32,7.33,8.75,10.62,12,7.36,15.3l1.42,1.4L12,13.41l3.32,3.26,1.41-1.42Z"></path>
          </svg>
        </span>
      </div>
      <span class="switch__label oculto">
        <label for="montaje_{{idcheck}}">Montaje</label>
      </span>
    </div>
  </div>
  <div class="retirada" *ngIf="data.Retirada">
    <!--Retirada gratuita de tu viejo colchón / electrodoméstico <img class="icon-information"
      src="assets/images/information.svg" alt="icono información" ngbTooltip="{{mensajeInformacion}}" placement="right">-->
  <!--<div class="input-checkbox">
    <input id="retirada_{{idcheck}}" type="checkbox" class="checkbox" (change)="cambioSeleccionRetirada($event)">
    <label for="retirada_{{idcheck}}">
      <span class="oculto">Retirada gratuita de tu viejo colchón / electrodoméstico</span>
    </label>
  </div>-->
  Retirada gratuita de tu viejo colchón / electrodoméstico
  <div class="label-description-retirada">Retirada</div>
    <div class="switch fRight">
      <input type="checkbox" class="switch__input" id="retirada_{{idcheck}}" (change)="cambioSeleccionRetirada($event)"/>
      <div class="switch__background">
        <span class="switch__ball">
          <svg focusable="false" viewBox="0 0 32 32" width="32" height="32" class="svg-icon switch__icon" aria-hidden="true">
            <path *ngIf="this.data.UsuarioRetirada" d="M19.29,6.79l-8.76,8.77L5.74,10.32,4.26,11.68l6.21,6.76L20.71,8.21Z"></path>
            <path *ngIf="!(this.data.UsuarioRetirada)" d="M13.45,12,16.71,8.7,15.29,7.3,12,10.59,8.74,7.32,7.33,8.75,10.62,12,7.36,15.3l1.42,1.4L12,13.41l3.32,3.26,1.41-1.42Z"></path>
          </svg>
        </span>
      </div>
      <span class="switch__label oculto">
        <label for="retirada_{{idcheck}}">Retirada gratuita de tu viejo colchón / electrodoméstico</label>
      </span>
    </div>
  </div>
    <div class="cantidad" *ngIf="data.Montaje">
        <div class="label-descripcion">Cantidad</div>
        <!--Cantidad--><div class="number-spinner">
            <span data-dir="dwn" (click)="addUnidadMontaje(-1)" class="glyphicon glyphicon-minus"></span>
            <input id="cantidad-1" type="number" [value]="data.UnidadesMontaje"
                   (input)="data.UnidadesMontaje=$event.target.value;" class="input-value-spinner" min="0" [max]="data.Cantidad"
                   name="unidadesmontaje">
            <span data-dir="up" (click)="addUnidadMontaje(1)" class="glyphicon glyphicon-plus"></span> <label for="cantidad-1"
                                                                                                              class="oculto">Cantidad</label>
        </div>
    </div>
  <!--para aquellos elementos que tienen subelementos-->
  <!--<div class="ver-productos" *ngIf="data.SubProductos !==null && data.SubProductos.length>0">
    <div class="collapse" [ngClass]="{'in':showsubproductos}">
      <div class="contenedor-listado-por-productos" *ngFor="let subproducto of data.SubProductos">
        <div class="descripcion-mueble"><i>{{subproducto.Cantidad}}x {{subproducto.Descripcion}}</i></div>-->
        <!--<div class="titulo-mueble"><strong>{{subproducto.Descripcion | soloMarca}}</strong></div>-->
      <!--</div>
    </div>
    <a role="button" (click)="showsubproductos = !showsubproductos">
      <span *ngIf="!showsubproductos">Ver</span>
      <span *ngIf="showsubproductos">Ocultar</span> Artículos que lo componen
        ({{data.SubProductos.length}})<img [ngClass]="{'down':!showsubproductos,'up':showsubproductos}" class="icon-arrow down" src="assets/images/arrow.png"
          alt="icono flecha"></a>
  </div>-->

  <div class="expander ver-productos" *ngIf="data.SubProductos !==null && data.SubProductos.length>0">
    <div class="expander__container">
      <div class="expander__content expander__content--closed" [ngClass]="{'expander__content--opened':showsubproductos,'expander__content--closed':!showsubproductos}">
          <div class="contenedor-listado-por-productos" *ngFor="let subproducto of data.SubProductos">
              <div class="descripcion-mueble detalle"><i>{{subproducto.Cantidad}}x {{subproducto.Descripcion}}</i></div>
              <!--<div class="titulo-mueble"><strong>{{subproducto.Descripcion | soloMarca}}</strong></div>-->
            </div>
      </div>
      <a aria-expanded="false" class="expander__btn expander__btn--text-toggle  link link--blue" role="button" (click)="showsubproductos = !showsubproductos" [ngClass]="{'expander__btn--opened':showsubproductos,'expander__btn-closed':!showsubproductos}">
        <span class="expander__content">
          <span class="expander__btn-icon">
            <svg focusable="false" viewBox="0 0 24 24" width="24" height="24" class="svg-icon svg-icon--blue" aria-hidden="true">
              <path d="M19.71,9.29,18.29,7.88,12,14.17,5.7,7.88,4.29,9.3,12,17Z"></path>
            </svg>
          </span>
          <span class="expander__btn-label">
              <span *ngIf="!showsubproductos">Ver</span>
              <span *ngIf="showsubproductos">Ocultar</span> Artículos que lo componen
                ({{data.SubProductos.length}})
          </span>
        </span>
      </a>
    </div>
  </div>
</div>
