.final-calculadora p:first-child {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    line-height: 27px;
  }
  @media (max-width: 320px) {
    .final-calculadora p:first-child {
      font-size: 15px;
      line-height: 20px;
    }
  }
  .final-calculadora p + a {
    display: block;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }