<div class="container-fluid">
  <h1>Gracias por solicitar el montaje<!--<img src="assets/images/information.svg" alt="icono información">--></h1>
  <div class="wrapper final-calculadora">
    <div class="row">
      <!-- main -->
      <div class="col-md-offset-3 col-md-6">
        <p *ngIf="contratacion">
         Te hemos enviado un e-mail confirmando la recepción de tu solicitud. <br/>

         En las próximas 4 horas nos pondremos en contacto contigo para finalizar la contratación de tu servicio.<br>El horario de atención al cliente es de 8:00 a 22:00 de lunes a domingo.
        </p>
        <p *ngIf="!contratacion">Gracias por usar el servicio. Te hemos enviado un mail con el presupuesto de montaje según las opciones indicadas.</p>
      </div>
    </div>
  </div>
</div>
