<div class="contenedor-listado-muebles content-sin-montaje" *ngIf="data && data.SinMontaje && data.SinMontaje.length>0" [ngClass]="{'faldon':show}">
  <div class="articulos-sin-montaje"><div class="blue-circle"><span>i</span></div>{{data?.SinMontaje.length}} artículos de tu compra no tienen posibilidad de
    montaje ni instalación
    <a class="ver-articulo" role="button" data-toggle="collapse" data-target="#verProductosNoMontaje" (click)=cambiarTexto($event)>{{textoArticulos}} <!-- #lnktoggle -->
      <!--<img src="assets/images/arrow.png" class="icon-arrow" [ngClass]="{'up':show,'down':!show}" alt="icono flecha" data-toggle="collapse" data-target="#verProductosNoMontaje">-->
      <!--<img *ngIf="!show" src="assets/images/arrow.png" class="icon-arrow down" alt="icono flecha" data-toggle="collapse" data-target="#verProductosNoMontaje">-->
    </a>
  </div>
  <div id="verProductosNoMontaje" class="collapse">
    <div class="producto-sin-montaje" *ngFor = "let elemento of data?.SinMontaje">
      <div class="descripcion-mueble"><div class="red-circle"><span>x</span></div> {{elemento.Cantidad}}x <strong>{{elemento.Descripcion}}</strong></div>
      <!--<div class="titulo-mueble"><strong>{{elemento.Descripcion | soloMarca}}</strong></div>-->
      <div class="numero-mueble">{{elemento.Referencia}}</div>
        <div class="sin-montaje">{{elemento.TextoSinMontaje}}</div>
    </div>
    <div class="content-ocultar-bajo producto-sin-montaje">
      <a class="ver-articulo" role="button" data-toggle="collapse" data-target="#verProductosNoMontaje" (click)=cambiarTexto($event)>{{textoArticulos}}
        <!--<img src="assets/images/arrow.png" class="icon-arrow up" alt="icono flecha">-->
      </a>
    </div>
  </div>
</div>
