<app-contratar [factura]="factura"></app-contratar>
<app-guardar [factura]="factura"></app-guardar>
<div class="container-fluid">
  <h1 class="mBottom20">Calcula el precio del montaje<!--<img class="icon-information" src="assets/images/information.svg"
      alt="icono información" ngbTooltip="{{mensajeInformacion}}" placement="bottom">--></h1>
  <div class="wrapper">
    <div class="row">
      <div class="column col-xs-12 col-md-8" id="main" #main>
        <div class="contenedor-factura-detalle">
          <p class="fLeft">Factura subida: <span>{{factura.NumeroFactura}}</span></p><a class="fLeft" (click)="CambiarFactura()">Cambiar factura</a>
          <div class="contenedor-sel-todo">
            <!--<div class="input-checkbox fRight">Seleccionar todo
                <input id="seleccionar-todo" [checked]="todoSeleccionado" class="seleccionar-todo" type="checkbox" (change)="seleccionarTodo($event)">
                <label class="mLeft12" for="seleccionar-todo">
                  <span class="oculto">Seleccionar todo</span>
                </label>
              </div>-->
              <div class="fRight">Seleccionar todo</div>
              <div class="switch fRight">
                <input type="checkbox" [checked]="todoSeleccionado" class="switch__input seleccionar-todo" id="seleccionar-todo" (change)="seleccionarTodo($event)"/>
                <div class="switch__background">
                  <span class="switch__ball">
                    <svg focusable="false" viewBox="0 0 32 32" width="32" height="32" class="svg-icon switch__icon" aria-hidden="true">
                      <path *ngIf="todoSeleccionado" d="M19.29,6.79l-8.76,8.77L5.74,10.32,4.26,11.68l6.21,6.76L20.71,8.21Z"></path>
                      <path *ngIf="!todoSeleccionado" d="M13.45,12,16.71,8.7,15.29,7.3,12,10.59,8.74,7.32,7.33,8.75,10.62,12,7.36,15.3l1.42,1.4L12,13.41l3.32,3.26,1.41-1.42Z"></path>
                    </svg>
                  </span>
                </div>
                <span class="switch__label oculto">
                  <label for="seleccionar-todo">Seleccionar todo</label>
                </span>
              </div>
            </div>
          </div>
        <!--<div class="contenedor-sel-todo">
          <div class="input-checkbox fRight mRight12 mTop12">Seleccionar todo
            <input id="seleccionar-todo" [checked]="todoSeleccionado" class="seleccionar-todo" type="checkbox" (change)="seleccionarTodo($event)">
            <label class="mLeft12" for="seleccionar-todo">
              <span class="oculto">Seleccionar todo</span>
            </label>
          </div>
        </div>-->
        <app-referencia  *ngFor="let referencia of factura?.Lista"  [data]="referencia" (dataChange)="recalcular($event)"></app-referencia>
        <app-articulossinmontaje [data]="factura"></app-articulossinmontaje>
      </div>
      <div class="column col-xs-12 col-md-4" id="sidebar" #sidebar>
        <div class="contenedor-calculadora-montaje" #calculadora>
            <div class="literal-total">Total<div class="precio">{{factura.TotalMontajeFactura}}<span>€</span></div></div>
            <div class="total-articulos">{{factura.TotalArticulos}} artículos a montar</div>
          <div class="contenedor-botones"><button
              class="boton principal mLeft5" type="button" (click) = "abrirOpcionContratar()">Solicitar Montaje</button></div>
        </div>
        <div class="contenedor-preguntas-frecuentes" #faqs>
            <h3>Preguntas frecuentes</h3>
            <app-faqs [tipoFaqs]="'modal'" (redim)="recalcularAlturaMinima()"></app-faqs>
          </div>
        <!-- <pre>{{ factura |json}}</pre> -->
      </div>
    </div>
  </div>
</div>
