<div *ngIf="tipoFaqs=='modal'" class="panel-group" id="accordionpreguntasfrecuentes">
  <div class="panel panel-default" *ngFor="let faq of faqs">
    <div class="panel-heading">
<!-- Inicio estructura collapse -->
      <!--<a *ngIf="tipoFaqs=='collapse'" data-target="#{{faq.id}}" data-toggle="collapse"
      data-parent="#accordionpreguntasfrecuentes" (click)="toggle(faq.id)">{{faq.p}}
        <img class="icon-arrow" src="assets/images/arrow.png"
          alt="icono flecha" [ngClass]="{'down':faq.collapse,'up':!faq.collapse}">
      </a>-->
    </div>
    <!--<div *ngIf="tipoFaqs=='collapse'" id="{{faq.id}}" class="panel-collapse collapse" [ngClass]="{'in':!faq.collapse}">
      <div class="panel-body">
        <p *ngFor="let r of faq.r"><span [innerHTML]="r|soloHtml"></span></p>
      </div>
    </div>-->
<!-- Final estructura collapse -->
<!-- Inicio estructura modal -->
      <a (click)="showModalFaqs(faq.id)">{{faq.p}}
      </a>
  </div>
</div>
<div *ngIf="tipoFaqs=='modal'">
  <app-modal-popup *ngFor="let faq of faqs" id="{{faq.id}}">
    <div class="contenedor-mensaje-usuario" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><button type="button" class="close" data-dismiss="modal" (click)="closeModalFaqs(faq.id)"><img
                  src="assets/images/icono-cerrar.svg" alt="icono-cerrar"></button>
            </div>
            <div class="modal-body">
                <h4>{{faq.p}}</h4>
                <p *ngFor="let r of faq.r"><span [innerHTML]="r|soloHtml"></span></p>
            </div>
            <div class="modal-footer">
              <!-- <button class="boton principal" type="submit">Confirmar</button> -->
            </div>
        </div>
      </div>
    </div>
  </app-modal-popup>
</div>

<ul *ngIf="tipoFaqs=='collapse'" class="accordion">
    <li *ngFor="let faq of faqs" class="accordion__item--active accordion__item" id="{{faq.id}}" [ngClass]="{'accordion__item':!faq.collapse,'accordion__item--active accordion__item':faq.collapse}">
      <div role="heading" aria-level="2">
        <button class="accordion__heading leading-icon" aria-expanded="true" (click)="toggleIkea(faq.id)"> <!--aria-controls="{{faq.id}}"-->
          <svg focusable="false" width="24px" height="24px" class="svg-icon accordion__icon svg-icon--150" [ngClass]="{'svg-icon--':!faq.collapse,'svg-icon--rotate-minus-135':faq.collapse}" aria-hidden="true">
            <path d="M13,11V7H11v4H7v2h4v4h2V13h4V11Z"></path>
          </svg>
          <span class="accordion__title">{{faq.p}}</span>
        </button>
      </div>
      <div id="{{faq.id}}" class="accordion__content" role="region"><!-- aria-labelledby="{{faq.id}}" -->
          <p *ngFor="let r of faq.r"><span [innerHTML]="r|soloHtml"></span></p>
      </div>
    </li>
  </ul>
<!-- Final estructura modal -->
