<div class="contenido-centrado">
    <app-header></app-header>
    <app-upload-file *ngIf="step===1" (facturaUploaded)="gotoPaso2($event)"></app-upload-file>
    <app-fill-data *ngIf="step===2" [factura]="factura" (atras)="gotoPaso1()" (procesofinalizado)="gotoPaso3($event)"></app-fill-data>
    <app-summary *ngIf="step===3" [contratacion]="contratacionrealizada"></app-summary>
    <!-- <pre>
        {{factura | json}}
    </pre> -->
    <ngx-spinner bdcolor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-spin-clockwise" fullScreen="true">
        <p style="color: white"> Cargando... </p>
    </ngx-spinner>
    <app-footer></app-footer>
    <app-mensaje-popup></app-mensaje-popup>
</div>
