<app-modal-popup id="contratacion">
  <div class="contenedor-mensaje-usuario" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form [formGroup]="formulario" (ngSubmit)="onContratar()">
          <div class="modal-header"><button type="button" class="close" data-dismiss="modal" (click)="cancelar()"><img
                src="assets/images/icono-cerrar.svg" alt="icono-cerrar"></button>
          </div>
          <div class="modal-body">
            <h4>SOLICITA TU SERVICIO DE MONTAJE</h4>
            <p>¡Ya casi está! Necesitamos los siguientes datos para poder continuar con el proceso:</p>
            <div class="error" *ngIf="error">
              <p>{{error}}</p>
            </div>
            <!--<div class="form-group text">
              <label class="control-label" for="nombre">Nombre</label>
              <input class="form-control" type="text" name="nombre" formControlName="nombre" placeholder="Nombre"
                required autocomplete="off">
              <div *ngIf="submitted && f.nombre.errors" class="error">
                <p *ngIf="f.nombre.errors.required">El nombre es obligatorio</p>
              </div>
            </div>-->
            <div class="form-field" label="label">
                <div class="input-wrap">
                  <input type="text" id="nombre" placeholder="Nombre" name="nombre" formControlName="nombre"
                  placeholder="Nombre" required autocomplete="off" />
                  <label for="nombre" class="">Nombre</label>
                </div>
                <div *ngIf="submitted && f.nombre.errors" class="error">
                    <p *ngIf="f.nombre.errors.required">El nombre es obligatorio</p>
                  </div>
                <!--<div class="inline-text" id="txtInputFieldHelp"><span>Help message to explain how to fill in the input field </span></div>-->
              </div>
            <!--<div class="form-group text">
              <label class="control-label" for="telefono">Teléfono</label>
              <input class="form-control" type="text" id="telefono" formControlName="telefono"
                placeholder="Teléfono de contacto" autocomplete="off">
              <div *ngIf="submitted && f.telefono.errors" class="error">
                <p *ngIf="f.telefono.errors.required">El teléfono es obligatorio</p>
              </div>
            </div>-->
            <div class="form-field" label="label">
                <div class="input-wrap">
                  <input type="text" id="telefono" placeholder="Teléfono" formControlName="telefono"
                  placeholder="Teléfono de contacto" autocomplete="off" />
                  <label for="telefono" class="">Teléfono</label>
                </div>
                <div *ngIf="submitted && f.telefono.errors" class="error">
                  <p *ngIf="f.telefono.errors.required">El teléfono es obligatorio</p>
                </div>
                <!--<div class="inline-text" id="txtInputFieldHelp"><span>Help message to explain how to fill in the input field </span></div>-->
              </div>
            <!--<div class="form-group text">
              <label class="control-label" for="nombre">E-mail</label>
              <input class="form-control" type="email" id="email" autocomplete="false" formControlName="email"
                placeholder="E-mail" autocomplete="off">
              <div *ngIf="submitted && f.email.errors" class="error">
                <p *ngIf="f.email.errors.required">El E-mail es obligatorio</p>
                <p *ngIf="f.email.errors.email">El E-mail no es correcto</p>
              </div>
            </div>-->
            <div class="form-field" label="label">
              <div class="input-wrap">
                <input type="email" id="email" placeholder="E-mail" autocomplete="false" formControlName="email"
                placeholder="E-mail" autocomplete="off" />
                <label for="email" class="">E-mail</label>
              </div>
              <div *ngIf="submitted && f.email.errors" class="error">
                <p *ngIf="f.email.errors.required">El E-mail es obligatorio</p>
                <p *ngIf="f.email.errors.email">El E-mail no es correcto</p>
              </div>
              <!--<div class="inline-text" id="txtInputFieldHelp"><span>Help message to explain how to fill in the input field </span></div>-->
            </div>
          </div>
          <div class="modal-footer">
            <button class="boton principal" type="submit">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-modal-popup>
