/* Importamos librerias */
/* @import 'url-libreria.ext';*/
/* Estilos Generales */
.oculto {
  display: none;
}
.mTop12 {
  margin-top: 12px !important;
}
.mLeft5 {
  margin-left: 5px !important;
}
.mLeft12 {
  margin-left: 12px !important;
}
.mRight12 {
  margin-right: 12px !important;
}
.mRight12 {
  margin-right: 12px !important;
}
.fLeft {
  float: left !important;
}
.fRight {
  float: right !important;
}
.vTop {
  vertical-align: top !important;
}
.tLeft {
  text-align: left !important;
}
.tRight {
  text-align: right !important;
}
.tCenter {
  text-align: center;
}
.mBottom20 {
  margin-bottom: 20px !important;
}
/* Estilos Sidebar fijo */
/*.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}
.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}
.wrapper:after,
.column:after {
    clear: both;
}*/
#sidebar {
  /*background-color:#eee;*/
  height: 100%;
  position: fixed;
  right: 18%;
  width: 21%;
}
@media (max-width: 1680px) {
  #sidebar {
    right: 13.2%;
    width: 24.4%;
  }
}
@media (max-width: 1600px) {
  #sidebar {
    right: 11%;
    width: 26%;
  }
}
@media (max-width: 1440px) {
  #sidebar {
    right: 7%;
    width: 28%;
  }
}
@media (max-width: 1400px) {
  #sidebar {
    right: 6%;
    width: 29%;
  }
}
@media (max-width: 1366px) {
  #sidebar {
    right: 5%;
    width: 30%;
  }
}
@media (max-width: 1280px) {
  #sidebar {
    right: 2%;
    width: 31%;
  }
}
@media (max-width: 1024px) {
  #sidebar {
    right: 1%;
    width: 32%;
  }
}
@media (max-width: 992px) {
  #sidebar {
    position: relative;
    width: 100%;
    left: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  #sidebar {
    padding-left: 0px;
    padding-right: 0px;
  }
  #main {
    padding-left: 0px;
    padding-right: 0px;
  }
}
/* collapse con flecha */
a {
  font-size: 13px;
}
a .icon-arrow {
  width: 17px;
  height: 9px;
  margin-left: 10px;
}
a .icon-arrow.down {
  transform: rotate(180deg);
  transition: .3s
}
a .icon-arrow.up {
  transform: rotate(0deg);
  transition: .3s
}
@media(max-width:768px){
  .ver-productos .expander {
    display: inline;
  }
}
.expander.ver-productos {
  display: inline;
}
.ver-productos .expander__btn--text-toggle .svg-icon.svg-icon--blue {
  color: #3379b5;
  fill: #3379b5;
}
.ver-productos .expander__btn--text-toggle:hover .svg-icon.svg-icon--blue {
  color: #0058a3;
  fill: #0058a3;
}
.ver-productos .expander__btn .expander__content {
  font-weight: normal;
}
.ver-productos span.expander__btn-icon {
  vertical-align: inherit;
}
.ver-productos span.expander__btn-icon .svg-icon {
  -webkit-transition-property: fill,-webkit-transform;
  transition-property: fill,-webkit-transform;
  -o-transition-property: transform,fill;
  transition-property: transform,fill;
  transition-property: transform,fill,-webkit-transform;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,0,1);
  -o-transition-timing-function: cubic-bezier(.4,0,0,1);
  transition-timing-function: cubic-bezier(.4,0,0,1);
}
.ver-productos .expander__btn .expander__content .expander__btn-label {
  text-decoration: none;
  vertical-align: super;
}
.ver-productos .expander__btn .expander__content .expander__btn-label:hover {
  text-decoration: underline;
  color: #3a6e9f;
}
.ver-productos .expander__btn {
  margin-top: 10px;
}
@media all {
  .input-checkbox label {
    cursor: pointer;
  }
  .input-checkbox:not([data-disable-style="true"]) {
    position: relative;
    /* Disabled labels */
    /* Focused custom elements */
    /* Custom checkbox input */
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"] + label:before {
    display: inline-block;
    content: "";
    background: url("../images/form-sprite.svg") no-repeat 0 0;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    /*margin: 0.25rem 0.35rem 0.25rem 0.25rem;*/
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:disabled + label {
    color: #999;
    cursor: not-allowed;
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:focus + label:before {
    box-shadow: 0 0 0 3px #9ebcdb;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"] + label:before {
    background-position: 0 0;
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:checked + label:before {
    background-position: 0 -82px;
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:active + label:before,
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"][data-active="true"] + label:before {
    background-position: 0 -27px;
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:checked:active + label:before,
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:checked[data-active="true"] + label:before {
    background-position: 0 -109px;
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:disabled + label:before {
    background-position: 0 -54px;
  }
  .input-checkbox:not([data-disable-style="true"]) [type="checkbox"]:checked:disabled + label:before {
    background-position: 0 -136px;
  }
}
/* Estilos formulario */
@media all {
  .text {
    margin-bottom: 12px;
  }
  /*.text input {
    display: block;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 13px;
  }
  .text input:active,
  .text input:focus {
    box-shadow: 0 0 0 0.1875rem #b0cae2;
    margin: 0;
    outline: 0;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
  }
  .text input:hover {
    border-color: #999;
  }
  .text label {
    display: inline-block;
    margin-bottom: 0.125rem;
    font-size: 13px;
    font-weight: normal;
    //font-style: italic;
  }*/
  /* Estilos para los imput con el compoenete react-ikea */
  .contenedor-mensaje-usuario .form-field {
    font-family: 'Noto sans';
    display: block;
    margin-bottom: 16px;
  }
  .contenedor-mensaje-usuario .form-field .input-wrap{
    margin-bottom: 8px;
  }
  .contenedor-mensaje-usuario .input-wrap,
  .contenedor-mensaje-usuario .input-wrap--labelled {
    position: relative;
    display: block;
    padding: 0;
  }
  input:not([type=range])::-webkit-input-placeholder {
    color:transparent;
  }
  input:not([type=range]):-moz-placeholder {
    color:transparent;
  }
  input:not([type=range])::-moz-placeholder {
    color:transparent;
  }
  input:not([type=range]):-ms-input-placeholder {
    color:transparent;
  }
  input:not([type=range]):focus::-webkit-input-placeholder {
    color:#959595;
  }
  input:not([type=range]):focus:-moz-placeholder {
    color:#959595;
  }
  input:not([type=range]):focus::-moz-placeholder {
    color:#959595;
  }
  input:not([type=range]):focus:-ms-input-placeholder {
    color:#959595;
  }
  .contenedor-mensaje-usuario .form-field>.input-wrap>input,
  .contenedor-mensaje-usuario  .form-field>.input-wrap>textarea,
  .contenedor-mensaje-usuario .form-field>input,
  .contenedor-mensaje-usuario .form-field>textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .contenedor-mensaje-usuario input:not([type=range]) {
    display: block;
    width: 100%;
    margin: 0;
    outline: 0;
    padding: 31px 16px 7px;
    border: 1px solid #959595;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: color .3s,border .3s,padding .3s;
    -o-transition: color .3s,border .3s,padding .3s;
    transition: color .3s,border .3s,padding .3s;
  }

  .contenedor-mensaje-usuario input[type=email]~label,
  .contenedor-mensaje-usuario input[type=password]~label,
  .contenedor-mensaje-usuario input[type=tel]~label,
  .contenedor-mensaje-usuario input[type=text]~label,
  .contenedor-mensaje-usuario input[type=url]~label,
  .contenedor-mensaje-usuario select~label,
  .contenedor-mensaje-usuario textarea~label {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  .contenedor-mensaje-usuario .input-wrap label {
    position: absolute;
    left: calc(16px + 1px);
    top: 17px;
  }
  .contenedor-mensaje-usuario .input-wrap input:not([type=range]):focus~label {
    left: calc(16px + 2px);
  }

  .contenedor-mensaje-usuario label {
    display: inline-block;
    color: #666;
    font-size: 14px;
  }

  .contenedor-mensaje-usuario input[type=email]:focus~label,
  .contenedor-mensaje-usuario input[type=password]:focus~label,
  .contenedor-mensaje-usuario input[type=tel]:focus~label,
  .contenedor-mensaje-usuario input[type=text]:focus~label,
  .contenedor-mensaje-usuario input[type=url]:focus~label {
      top: 15px;
      font-size: 13px;
      color: #0058a3;
  }

  .contenedor-mensaje-usuario input:not([type=range]):active, .contenedor-mensaje-usuario input:not([type=range]):focus {
    border-width: 2px;
    border-radius: 4px;
    border-color: #0058a3;
    padding: 30px 16px 6px;
  }
}
/* Estilos spinner loading */
.contenedor-cargando {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 499;
  position: absolute;
  background: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  -webkit-transition: display .5s linear;
  transition: display .5s linear;
}
.contenedor-cargando.imagen-cargando {
  position: absolute;
  height: 72px;
  width: 72px;
  margin: auto;
  top: calc(16%);
  left: calc(16%);
  /*background-image: url(data:image/gif;base64,R0lGODlhSABIAPcAAAAAAAEBAQICAgMDAwQEBAUFBQYGBgcHBwgIC…AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==);*/
}

/* ngx-spinner component styles */

.overlay {
  position: fixed !important;
}

/* Estilos del menu IKEA */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #000000;
  min-height: 100%;
  position: relative;
}
/*h1{font-size:13px;margin-top:35px;margin-bottom:0;padding:0;font-weight:normal;letter-spacing:1px;text-transform:uppercase;}*/
h1 {
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  font-size: 42px;
  font-weight: Bold;
  letter-spacing: 0;
  line-height: 100%;
  text-align: center;
}
@media(max-width:1440px){
  h1{
    font-size: 36px;
    line-height: 117%;
  }
}
@media(max-width:768px){
  h1{
    font-size: 30px;
    line-height: 120%;
  }
}
@media(max-width:320px){
  h1{
    font-size: 24px;
    line-height: 100%;
  }
}
h1 img {
  /*vertical-align: initial;*/
  margin-left: 15px;
  cursor: pointer;
}
@media (max-width: 480px) {
  /*h1 {
    font-size: 20px;
    line-height: 27px;
  }*/
  h1 img {
    width: 20px;
  }
}
/* Esta por decidir */
/*h2{font-size:25px;margin-top:3px;font-weight:bold;}*/

h3 {
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  font-weight: bold;
  /*text-decoration: underline;*/
  color: #000000;
  font-size: 22px;
  line-height: 119%;
}
@media(max-width:768px){
  h3{
    font-size: 17px;
    line-height: 118%;
  }
}
h4 {
  font-weight: bold;
  font-size: 17px;
  line-height: 130%;
}
@media(max-width:768px){
  h4 {
    font-size: 15px;
    line-height: 120%;
  }
}
@media(max-width:320px){
  h4 {
    font-size: 15px;
    line-height: 134%;
  }
}
textarea {
  resize: vertical;
}
.separado {
  margin-top: 25px;
}
.header {
  margin-top: 5px;
  border-bottom: 1px solid #ccc;
}
.control-label {
  text-align: left !important;
  /*font-weight: bolder !important;*/
  padding-top: 12px;
}
.block-title {
  background-color: #f7f7f7;
  color: #0360a6;
  padding: 4px 15px;
  font-size: 15px;
  margin-top: 10px;
}
.form-corto {
  width: auto;
}
.form-control {
  height: 45px !important;
  border-radius: 0px !important;
  font-size: 13px;
}
.link1 {
  text-decoration: underline;
  color: #3531fa;
}
.link1:hover {
  text-decoration: none;
  color: #3531fa;
}
.textlegal {
  font-size: 12px;
  color: #8c8b8b;
}
.mid-air {
  margin-top: 15px;
}
.parrafo-IKEA {
  font-size: 13px;
  line-height: 147%;
  font-weight: lighter;
}
/* Botones */
button.boton {
  /*background: #0058a3;*/
  color: #fff;
  border-radius: 2px !important;
  padding: 7px 50px !important;
  position: relative;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7143;
  padding: 0;
  -webkit-transition-property: background-color,border-radius,width;
  -o-transition-property: background-color,border-radius,width;
  transition-property: background-color,border-radius,width;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,0,1);
  -o-transition-timing-function: cubic-bezier(.4,0,0,1);
  transition-timing-function: cubic-bezier(.4,0,0,1);
  cursor: pointer;
  font-family: 'Noto sans';
  text-transform: none;
  outline: none;
  /*font-weight: 700 !important;*/
}
button.boton.principal {
  background: #0058a3;
  color: #fff;
}
button.boton.principal:hover {
  background: #3379b5;
  color: #fff;
  border-radius: 4px !important;
}
button.boton.principal:focus {
  background: #3379b5;
  color: #fff;
  border-radius: 4px !important;
}
button.boton.principal:active {
  background: #004682;
  color: #fff;
  border-radius: 8px !important;
}
button.boton.cerrar {
  color: #222;
  background: #ffffff;
  border-color: #999;
}
button.boton.cerrar:hover {
  background: #fafafa;
}
button.boton.cerrar:focus {
  text-decoration: none;
  box-shadow: 0 0 0 3px #b0cae2;
}
/*.btn {
    background-color: #337ab7 !important;
    background-image: none !important;
    border-radius: 0px !important;
    margin-top: 15px;
    width: 250px;
    height: 50px;
    font-weight: lighter !important;
    font-size: 12px;
    color: white !important;
}
.btn:hover{
    cursor: pointer;
    background-color: #265a88 !important;
}*/
.h4-IKEA {
  font-weight: bolder;
  font-size: 17px;
  line-height: 130%;
}
/*@media (min-width:992px) and (max-width:1200px){
	h1{margin-top:25px;}
    .control-label {
        padding-top: 12px !important;
        font-weight: bolder !important;
    }
}*/
@media (min-width: 768px) and (max-width: 991px) {
  /*h1{font-size:12px;margin-top:22px;}*/
  /*h2{font-size:22px;}*/
  /*.control-label{padding-top: 12px !important;}*/
}
@media (max-width: 767px) {
  /*h1{margin-top:25px;}*/
  /*h2{margin-bottom:25px;}*/
  /*.center-xs{text-align:center;}
.center-xs img{display:inline;}*/
}
/* Estilos detalle factura */
.contenedor-factura-detalle {
  width: 100%;
  padding: 6px 20px 6px 20px;
  background: #ffffff;
  border: 1px solid #707070;
  height: 34px;
  display: table;
}
.contenedor-factura-detalle p {
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  font-size: 15px;
  line-height: 147%;
  margin-bottom: 0px;
}
.contenedor-factura-detalle a {
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
  text-decoration: none;
  clear: both;
}
@media(max-width:380px){
  .contenedor-factura-detalle a {
    margin-top: 10px;
  }
}
.contenedor-factura-detalle a:hover {
  color: #3a6e9f;
  text-decoration: underline;
}
.contenedor-factura-detalle a:focus {
  color: #3a6e9f;
  outline: -webkit-focus-ring-color auto 5px;
}
@media (max-width: 480px) {
  .contenedor-factura-detalle {
    padding: 6px 10px 2px 10px;
  }
  /*.contenedor-factura-detalle p {
    font-size: 15px;
  }*/
}
.contenedor-sel-todo {
  margin-bottom: 45px;
}
.contenedor-sel-todo label[for="seleccionar-todo"] {
  display: block;
  text-align: right;
}
.contenedor-sel-todo .switch{
  display:block;
  clear: both;
  text-align: right;
}
.switch input[type="checkbox"] {
  top: -12px;
  left: -4px;
  width: 48px;
  height: 48px;
}
.switch__background {
  width: 40px ;
  height: 24px ;
  border-radius: 12px;
}
.switch__ball{
  width: 16px;
  height: 16px;
  transform: translateX(4px);
}

.switch input[type="checkbox"]:checked ~ .switch__background .switch__ball {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
.switch__icon{
  width: 22px;
  height: 22px;
}
/* Estilos listado de muebles */
div.contenedor-listado-muebles {
  background: #ffffff;
  border-top: 1px solid #CACACA;
  /*padding-top: 13px;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.blue-circle{
  display: inline-block;
  background: #437BAF;
  color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
  vertical-align: middle;
  margin-top: -5px;
}
.blue-circle span {
  text-align: center;
  position: relative;
  font-size: 14px;
  display: block;
  font-weight: normal;
}
.red-circle{
  display: inline-block;
  background: #CC0008;
  color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
  vertical-align: middle;
}
.red-circle span {
  text-align: center;
  position: relative;
  font-size: 14px;
  display: block;
  font-weight: normal;
  top: -4px;
  left: -0.5px;
}
body > div.contenedor-listado-muebles:first-child {
  border-top: none;
}
div.contenedor-listado-muebles.content-sin-montaje {
  border-top: 1px dashed #707070;

}
div.contenedor-listado-muebles.content-sin-montaje.faldon{
  border-bottom: 1px dashed #707070;
}
div.contenedor-listado-muebles.content-sin-montaje a.ver-articulo{
  display: block;
  margin-top: 5px;
}
.label-descripcion {
  display: block;
  text-align: right;
  margin-bottom: 5px;
  font-size: 12px;
}
.label-description-retirada {
  text-align: right;
  margin-bottom: 5px;
  font-size: 12px;
  padding-bottom: 0px;
  position: relative;
  margin-top: -20px;
  color: #000;
}
div.contenedor-listado-muebles a {
  font-size: 13px;
  text-decoration: none;
}
div.contenedor-listado-muebles a:hover {
  text-decoration: underline;
}
div.contenedor-listado-muebles a:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
div.contenedor-listado-muebles a .icon-arrow {
  width: 17px;
  height: 9px;
  margin-left: 10px;
}
div.contenedor-listado-muebles a .icon-arrow.down {
  transform: rotate(180deg);
}
div.contenedor-listado-muebles a .icon-arrow.up {
  transform: rotate(0deg);
}
/* div.contenedor-listado-muebles:first-child {
  margin-top: 45px;
} */
div.contenedor-listado-muebles .descripcion-mueble {
  margin-top: 10px;
  /*margin-bottom: 13px;*/
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  font-size: 17px;
  line-height: 130%;
}
div.contenedor-listado-muebles .descripcion-mueble.detalle{
  font-size: 13px;
}
@media(max-width:768px){
  div.contenedor-listado-muebles .descripcion-mueble {
    font-size: 15px;
    line-height: 120%;
  }
}
@media(max-width:320px){
  div.contenedor-listado-muebles .descripcion-mueble {
    line-height: 134%;
  }
}
div.contenedor-listado-muebles .titulo-mueble {
  margin-top: 10px;
  /*margin-bottom: 13px;*/
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  font-size: 20px;
}
div.contenedor-listado-muebles .numero-mueble {
  margin-top: 10px;
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  font-size: 13px;
  line-height: 147%;
  color: #000000;
}
div.contenedor-listado-muebles .montaje {
  /*margin-top: 10px;*/
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  font-size: 13px;
  line-height: 147%;
  color: #000000;
}
div.contenedor-listado-muebles .montaje .input-checkbox {
  /*margin-left: 30%;*/
  display: inline;
  float: right;
  margin-right: 30%;
}
@media(max-width:1200px){
  div.contenedor-listado-muebles .montaje .input-checkbox {
    margin-right:0%;
  }
}
@media (max-width: 992px) {
  div.contenedor-listado-muebles .montaje .input-checkbox {
    margin-right: 30%;
  }
}
@media (max-width: 768px) {
  div.contenedor-listado-muebles .montaje .input-checkbox {
    margin-right: 3.4%;
  }
}
div.contenedor-listado-muebles .retirada {
  padding-top: 10px;
  display: block;
  clear: both;
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  font-size: 13px;
  line-height: 147%;
  color: #437BAF;
  padding-bottom: 15px;
}
div.contenedor-listado-muebles .retirada .input-checkbox {
  float: right;
  margin-right: 30%;
}
@media(max-width:1200px){
  div.contenedor-listado-muebles .retirada .input-checkbox {
    margin-right: 0%;
  }
}
@media (max-width: 992px) {
  div.contenedor-listado-muebles .retirada .input-checkbox {
    margin-right: 30%;
  }
}
@media (max-width: 768px) {
  div.contenedor-listado-muebles .retirada .input-checkbox {
    margin-right: 3.4%;
  }
}
div.contenedor-listado-muebles .retirada .icon-information {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
div.contenedor-listado-muebles .cantidad {
  /*margin-top: 10px;*/
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  /*font-size: 17px;*/
}
div.contenedor-listado-muebles .cantidad {
  padding-top: 10px;
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  font-size: 13px;
  line-height: 147%;
  clear: both;
  display: block;
  margin-bottom: 25px;
}
div.contenedor-listado-muebles .cantidad .number-spinner {
  display: block;
  float: right;
  /*margin-right: 27.5%;*/
}
@media(max-width:1200px){
  div.contenedor-listado-muebles .cantidad .number-spinner {
    margin-right: -4%;
  }
}
@media (max-width: 992px) {
  div.contenedor-listado-muebles .cantidad .number-spinner {
    margin-right: 26.8%;
  }
}
@media (max-width: 768px) {
  div.contenedor-listado-muebles .cantidad .number-spinner {
    margin-right: 0%;
  }
}
div.contenedor-listado-muebles .ver-productos {
  padding-top: 10px;
}

div.contenedor-listado-muebles .ver-productos .collapse {
  padding-bottom: 10px;
}

div.contenedor-listado-muebles .ver-productos a {
  font-size: 13px;
  /*text-decoration: underline;*/
}
div.contenedor-listado-muebles .ver-productos a:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
div.contenedor-listado-muebles .articulos-sin-montaje {
  margin-top: 10px;
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  font-size: 13px;
  line-height: 130%;
  color: #000000;
}
div.contenedor-listado-muebles .producto-sin-montaje:first-child {
  margin-top: 20px;
}
div.contenedor-listado-muebles .producto-sin-montaje {
  margin-top: 10px;
  margin-bottom: 10px;
  /* border-top: 1px solid #CACACA;*/
}
div.contenedor-listado-muebles .producto-sin-montaje:first-child {
  border-bottom: none;
}
div.contenedor-listado-muebles .sin-montaje {
  margin-top: 10px;
  background-color: #e82c0c !important;
  border: 0;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  line-height: 1.2;
  text-decoration: none;
  outline: 0;
  -webkit-transition-property: background-color box-shadow;
  transition-property: background-color box-shadow;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
  background-color: #eee;
  border: 1px solid #eee;
  padding: 13px 28px;
  max-width: 100%;
  font-size: 13px;
}
div.contenedor-listado-muebles .content-ocultar-bajo {
  text-align: left;
  display: block;
  padding-top: 10px;
}
div.contenedor-listado-muebles .content-ocultar-bajo a {
  font-size: 13px;
  margin-top: 10px;
  text-align: left;
  text-decoration: none;
}
div.contenedor-listado-muebles .content-ocultar-bajo a:hover {
  text-decoration: underline;
}
div.contenedor-listado-muebles .content-ocultar-bajo a:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
div.contenedor-listado-muebles .content-ocultar-bajo .icon-arrow {
  width: 17px;
  height: 9px;
  margin-left: 10px;
}
div.contenedor-listado-muebles .content-ocultar-bajo .icon-arrow.up {
  transform: rotate(0deg);
}
@media (max-width: 768px) {
  div.contenedor-listado-muebles {
    padding-right: 15px;
    padding-left: 15px;
  }
}
/* Estilos de la calculadora */
.contenedor-calculadora-montaje {
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  margin-left: -19px;
  /*background: #EEEEEE;*/
  /*padding: 23px 36px 23px 36px;*/
  padding: 10px;
  border-top: 1px dashed #707070;
  border-bottom: 1px dashed #707070;
}
.contenedor-calculadora-montaje .literal-total {
  font-size: 17px;
  font-family: 'Verdana';
  font-weight: 700;
}
.contenedor-calculadora-montaje .literal-total .precio {
  font-size: 25px;
  font-family: 'Verdana';
  font-weight: 700;
  float:right;
}
.contenedor-calculadora-montaje .total-montaje {
  font-size: 30px;
  font-weight: bold;
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  text-align: center;
  line-height: 119%;
}
@media(max-width:1440px){
  .contenedor-calculadora-montaje .total-montaje {
    font-size: 26px;
    line-height: 116%;
  }
}
@media(max-width:768px){
  .contenedor-calculadora-montaje .total-montaje {
    font-size: 20px;
    line-height: 111%;
  }
}
@media(max-width:320px){
  .contenedor-calculadora-montaje .total-montaje {
    font-size: 20px;
    line-height: 120%;
  }
}
.contenedor-calculadora-montaje .contenedor-botones {
  text-align: center;
}
.contenedor-calculadora-montaje .total-articulos {
  font-size: 13px;
  line-height: 130%;
  text-align: left;
}
@media(max-width:768px){
  .contenedor-calculadora-montaje .total-articulos {
    font-size: 15px;
    line-height:120%;
  }
}
@media(max-width:320px){
  .contenedor-calculadora-montaje .total-articulos {
    font-size: 15px;
    line-height:134%;
  }
}
.contenedor-calculadora-montaje .aviso {
  font-size: 13px;
  /*font-style: italic;*/
}
.contenedor-calculadora-montaje .contenedor-botones {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 1310px) {
  .contenedor-calculadora-montaje {
    padding: 20px 20px 20px 20px;
  }
}
@media (max-width: 1200px) {
  .contenedor-calculadora-montaje {
    padding: 20px 20px 20px 20px;
  }
  .contenedor-calculadora-montaje .contenedor-botones button.boton {
    padding: 10px 25px 10px 25px;
  }
}
@media (max-width: 992px) {
  .contenedor-calculadora-montaje {
    /* Quitar estos estilos */
    /*width: 100%;
    margin-left: 0px;
    padding: 20px 15px 20px 15px;*/
    margin-left: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 5px;;
    -webkit-box-shadow: -1px 6px 22px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 22px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 22px -1px rgba(0,0,0,0.75);
    background: #ffffff;
  }
  .contenedor-calculadora-montaje .total-montaje{
    float: left;
    width: 50%;
    margin-top: 10px;
  }
  .contenedor-calculadora-montaje .total-articulos{
    float: left;
    width: 50%;
    clear: both;
  }
  .contenedor-calculadora-montaje .aviso {
    display: none;
  }
}
@media(max-width:500px){
  .contenedor-calculadora-montaje .total-montaje {
    /*font-size: 20px;*/
    margin-top: 10px;
    /*descomentar este*/
    /*margin-top: 25px;*/
  }
  .contenedor-calculadora-montaje .total-articulos {
    /*font-size: 16px;*/
    margin-bottom: 15px;
  }
  .contenedor-calculadora-montaje .contenedor-botones button.boton {
    /*font-size:16px;*/
  }
}
@media(max-width:380px) {
  .contenedor-calculadora-montaje .total-montaje {
    width: 40%;
    margin-top: 10px;
  }
  .contenedor-calculadora-montaje .total-articulos {
    width: 40%;
    margin-bottom: 10px;
  }
  .contenedor-calculadora-montaje .contenedor-botones button.boton {
    margin-right: 5px;
  }
}

/* Estilos preguntas frecuentes */
.contenedor-preguntas-frecuentes {
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  /*overflow-y: auto;*/
  /*height:350px;*/
  /*height:140px;*/
  margin-top: 10px;
  /* Estilos paneles */
}
@media(max-width:992px) {
  .contenedor-preguntas-frecuentes {
    overflow-y: hidden;
    height: auto;
    margin-top: 0px;
    width: 100%;
  }
}
.contenedor-preguntas-frecuentes::-webkit-scrollbar {
  width: 10px;
  /* background:lightgray; */
}
.contenedor-preguntas-frecuentes::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(229, 229, 229, 1);
  border-radius: 15px;
}

.contenedor-preguntas-frecuentes::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background:#000000;
}
.contenedor-preguntas-frecuentes h3 {
  margin-top: 15px;
}
.contenedor-preguntas-frecuentes a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid #707070;
  padding-bottom: 5px;
  padding-top: 0px;
  background: #ffffff;
  font-size: 14px;
}
.contenedor-preguntas-frecuentes p {
  /*font-size: 15px;*/
  font-size: 13px;
}
.contenedor-preguntas-frecuentes .panel-group {
  margin-bottom: 0;
}
.contenedor-preguntas-frecuentes .panel-group .panel.panel-default {
  border-color: #fff;
  box-shadow: none;
}
.contenedor-preguntas-frecuentes .panel-group .panel.panel-default .panel-heading {
  padding: 0;
}
.contenedor-preguntas-frecuentes .panel-group .panel.panel-default .panel-body {
  border-top: none;
  padding: 0;
}
@media (max-width: 480px) {
  .contenedor-preguntas-frecuentes {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 992px) {
  .contenedor-preguntas-frecuentes h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 320px) {
  .contenedor-preguntas-frecuentes a {
    font-size: 14px !important;
    margin-bottom: 20px;
  }
}


/* Estilos Bienvenida - preguntas frecuentes */
@media(min-width:768px) {
  .wrapper {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
  .wrapper.bienvenida-calculadora {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

.bienvenida-calculadora .contenedor-preguntas-frecuentes {
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  margin-bottom: 20px;
  margin-right: 5%;
  margin-left: 5%;
}
@media(max-width:992px) {
  .bienvenida-calculadora .contenedor-preguntas-frecuentes {
    margin-right: 0%;
    margin-left: 0%;
  }
}
.bienvenida-calculadora .contenedor-preguntas-frecuentes h3 {
  margin-top: 15px;
  text-align: center;
  /*font-size: 25px !important;*/
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .bienvenida-calculadora .contenedor-preguntas-frecuentes h3 {
    /*font-size: 19px !important;*/
    margin-bottom: 15px;
  }
}
@media (max-width: 320px) {
  .bienvenida-calculadora .contenedor-preguntas-frecuentes h3 {
    /*font-size: 19px !important;*/
    margin-bottom: 15px;
  }
}
.bienvenida-calculadora .contenedor-preguntas-frecuentes a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 17px !important;
  font-weight: bold;
  border-bottom: 1px solid #707070;
  padding-bottom: 10px;
  padding-top: 0px;
  background: #ffffff;
  cursor: pointer;
  line-height: 130%;
}
@media (max-width: 768px) {
  .bienvenida-calculadora .contenedor-preguntas-frecuentes a {
    font-size: 15px !important;
    line-height: 120%;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .bienvenida-calculadora .contenedor-preguntas-frecuentes a {
    line-height: 118%;
  }
}
@media (max-width: 320px) {
  .bienvenida-calculadora .contenedor-preguntas-frecuentes a {
    font-size: 14px !important;
    margin-bottom: 20px;
  }
}
.bienvenida-calculadora .contenedor-preguntas-frecuentes p {
  font-size: 13px;
  line-height: 147%;
}
.bienvenida-calculadora .contenedor-preguntas-frecuentes p:first-child {
  text-align: left;
  margin-top: 20px;
  font-size: 13px;
  line-height: 147%;
}
@media(max-width:480px){
  .bienvenida-calculadora .contenedor-preguntas-frecuentes p:first-child {
    text-align: left;
    margin-top: 0px;
    font-size: 13px;
    line-height: 147%;
  }
}
@media (max-width: 480px) {
  .bienvenida-calculadora .contenedor-preguntas-frecuentes p {
    font-size: 13px;
    margin-top: 0px;
    line-height: 147%;
  }
}
@media (max-width: 320px) {
  .bienvenida-calculadora .contenedor-preguntas-frecuentes p {
    font-size: 13px;
    margin-top: 0px;
    line-height: 147%;
  }
}
.bienvenida-calculadora .contenedor-preguntas-frecuentes .panel-group {
  /*margin-bottom: 0;
  margin-right: 5%;
  margin-left: 5%;*/
}
.bienvenida-calculadora .contenedor-preguntas-frecuentes .panel-group .panel.panel-default {
  border-color: #ffffff;
  box-shadow: none;
  margin-bottom: 10px;
}
.bienvenida-calculadora .contenedor-preguntas-frecuentes .panel-group .panel.panel-default .panel-heading {
  padding: 0;
}
.bienvenida-calculadora .contenedor-preguntas-frecuentes .panel-group .panel.panel-default .panel-body {
  border-top: none;
  padding: 0;
}
@media (max-width: 320px) {
  .bienvenida-calculadora .contenedor-preguntas-frecuentes .panel-group {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media(max-width:992px){
  .bienvenida-calculadora #ver-instrucciones-detalladas > div {
    display: grid !important;
  }
}
/* Accordion componente ikea-ux */
.bienvenida-calculadora ul.accordion {
  border-top:none;
  border-bottom:none;
}
.bienvenida-calculadora .accordion button:focus{
  outline: none;
}
.bienvenida-calculadora ul.accordion > li{
  border-top: 1px solid #959595;
  border-bottom: 1px solid #959595;
}
.bienvenida-calculadora ul.accordion > li:first-child {
  border-top: 1px solid #959595;
  border-bottom: none;
}
.bienvenida-calculadora ul.accordion > li:last-child{
  border-top: none;
  border-bottom: 1px solid #959595;
}
.bienvenida-calculadora .accordion .accordion__title{
  font-size: 17px !important;
  font-weight: bold;
}
.bienvenida-calculadora ul.accordion .svg-icon {
  -webkit-transition-property: fill,-webkit-transform;
  transition-property: fill,-webkit-transform;
  -o-transition-property: transform,fill;
  transition-property: transform,fill;
  transition-property: transform,fill,-webkit-transform;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,0,1);
  -o-transition-timing-function: cubic-bezier(.4,0,0,1);
  transition-timing-function: cubic-bezier(.4,0,0,1);
}
.bienvenida-calculadora ul.accordion .svg-icon--rotate-minus-135 {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/* Estilos componente number-spinner */
.number-spinner .input-value-spinner {
  width: 48%;
  text-align: center;
  border: none;
  /*pointer-events: none;*/
}
.number-spinner input[type=number]::-webkit-inner-spin-button,
.number-spinner input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number-spinner input[type=number] {
  -moz-appearance: textfield;
}
.number-spinner .glyphicon {
  font-size: 12px;
  cursor: pointer;
}
/* Estilos footer  */
body {
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  font-size: 12px;
}
.contenido-centrado {
  width: 99.9%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .contenido-centrado {
    width: 98%;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .contenido-centrado {
    width: 100%;
  }
}
.topMenu {
  margin-top: 20px;
  background-color: white;
}
.logoContainer {
  margin-top: 15px;
  margin-bottom: 15px;
}
.logoContainer a img {
  width: 120px;
  margin-left: 2em;
}
.footer {
  margin: 100px 0 5px 0;
  text-align: left;
  width: 100%;
}
#footerLinks {
  height: 35px;
  padding: 10px 10px 0 10px;
  color: #FFF !important;
  font-size: 11px;
  background-color: #666;
  width: 1080px;
  line-height: 1.42857143;
}
.separador-hf {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: -1px !important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px !important;
  z-index: 2;
}
.bottomMenu.separado {
  /*position: fixed;
    bottom: 0;
    width: 100%;*/
}
.bottomMenu.fijo {
  /*position: absolute;
    bottom: 0;
    width: 99.9%;*/
}
.cont50-50 {
  float: left;
  position: relative;
}
.left {
  text-align: left;
  margin-left: 2em;
  width: 35%;
}
.right {
  text-align: right;
  margin-right: 2em;
  width: 60%;
}
.pRow {
  float: left;
  margin-right: 15px;
  border-top: solid thin lightgrey;
  letter-spacing: 0.1px;
}
.pRow-Right {
  float: right;
  margin-right: 15px;
  letter-spacing: 0.1px;
  margin-bottom: 0px;
}
.linkFooter {
  font-size: 13px;
  color: #407AB1;
  text-decoration: underline;
}
.linkFooter:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
.subir {
  color: black;
  text-decoration: none !important;
}
.subir:hover {
  text-decoration: underline !important;
}
.contenedorFooter {
  height: 20px;
}
.flecha-arriba {
  width: 10px;
}
@media only screen and (max-width: 992px) {
  .pRow-Right {
    float: left;
    margin-right: 15px;
    letter-spacing: 0.5px;
    margin-left: 2em;
  }
  .right {
    text-align: left;
    width: 100%;
  }
  .left {
    width: 100%;
  }
  .aireMas {
    margin-top: 15px;
  }
}
@media (max-width: 992px) {
  .contenedorFooter {
    margin-left: 10px;
  }
  .cont50-50.left {
    margin-left: 0px;
  }
  .cont50-50.right {
    margin-right: 0px;
  }
}
@media (max-width: 768px) {
  .contenedorFooter {
    margin-left: 20px;
  }
}
/* Estilos para los modales con mensaje para usuario */
.contenedor-mensaje-usuario {
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  min-width: 475px;
}
@media(max-width:768px){
  .contenedor-mensaje-usuario {
    min-width: 100%;
  }
}
.contenedor-mensaje-usuario .modal-dialog {
  border-radius: 0;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content {
  padding: 20px 25px 30px 25px;
  border-radius: 0px;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-header {
  padding: 0;
  border-bottom: none;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-header .close {
  opacity: 1;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-header .close:focus {
  outline: none;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-header .close img {
  width: 14.5px;
  height: 14.5px;
}
#main > div.contenedor-listado-mueblese {
  background: red;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-body {
  padding: 0;
  /*text-align: center;*/
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-body h4 {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  line-height: 130%;
  margin-bottom: 20px;
  text-align: center;
}
@media(max-width:768px){
  .contenedor-mensaje-usuario .modal-dialog .modal-content .modal-body h4 {
    font-size: 15px;
    line-height: 120%;
  }
}
@media(max-width:768px){
  .contenedor-mensaje-usuario .modal-dialog .modal-content .modal-body h4 {
    line-height: 134%;
  }
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-body p {
  font-size: 13px;
  line-height: 147%;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-footer {
  padding: 0;
  /*text-align: center;*/
  border-top: none;
  margin-top: 20px;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-footer button {
  width: 100%;
  font-weight: normal;
}
/* Estilos para selección con el ratón */
/*::selection {*/
/* WebKit/Blink Browsers */
/*background: #407AB1;
  color: #ffce01;
}*/
/*::-moz-selection {*/
/* Gecko Browsers */
/*background: #407AB1;
  color: #ffce01;
}*/

/* Estilos tooltip con la libreria de ng-bootstrap*/

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0;
  font-size: 16px;
}

.tooltip.show {
  opacity: 0.9;
}

.tooltip .arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;
}

.tooltip .arrow::before {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
  padding: 0.4rem 0;
}

.bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
  bottom: 0;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  top: 0;
  border-width: 0.4rem 0.4rem 0;
  border-top-color: #000;
}

.bs-tooltip-right, .bs-tooltip-auto[x-placement^="right"] {
  padding: 0 0.4rem;
}

.bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^="right"] .arrow {
  left: 0;
  width: 0.4rem;
  height: 0.8rem;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  right: 0;
  border-width: 0.4rem 0.4rem 0.4rem 0;
  border-right-color: #000;
}

.bs-tooltip-bottom, .bs-tooltip-auto[x-placement^="bottom"] {
  padding: 0.4rem 0;
}

.bs-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^="bottom"] .arrow {
  top: 0;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  bottom: 0;
  border-width: 0 0.4rem 0.4rem;
  border-bottom-color: #000;
}

.bs-tooltip-left, .bs-tooltip-auto[x-placement^="left"] {
  padding: 0 0.4rem;
}

.bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^="left"] .arrow {
  right: 0;
  width: 0.4rem;
  height: 0.8rem;
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  left: 0;
  border-width: 0.4rem 0 0.4rem 0.4rem;
  border-left-color: #000;
}

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0.25rem;
}
.contenedor-mensaje-usuario .modal-dialog .modal-content .modal-body .error p{
  color: #e82c0c;
  font-size: 0.846153846em;
  line-height: 1.73;
}
