
app-modal-popup {
    /* modals are hidden by default */
  
    display: none;
}
body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
  
    overflow: hidden;
}
