<div class="bottomMenu separado">
  <hr class="separador-hf">
  <div class="cont50-50 left">
    <div class="contenedorFooter">
      <p class="pRow"></p>
      <p class="pRow"></p>
    </div><br>
    <div class="contenedorFooter">
      <p class="pRow"><strong>IKEA en España</strong></p>
      <p class="pRow"><a href="https://www.ikea.com/" class="linkFooter">Cambiar el país</a></p>
    </div>
  </div>
  <div class="cont50-50 right">
    <div class="contenedorFooter">
      <p class="pRow-Right mTop12"><a
          href="https://www.ikea.com/es/es/customer-service/reportar-problema-web-pubf110a501"
          class="linkFooter">Bug Bounty Program</a></p>
      <p class="pRow-Right mTop12"><a href="https://www.ikea.com/es/es/customer-service/terms-conditions/"
          class="linkFooter">Términos y condiciones</a></p>
      <p class="pRow-Right mTop12"><a href="https://www.ikea.com/es/es/customer-service/cookie-policy/"
          class="linkFooter">Política de cookies</a></p>
      <p class="pRow-Right mTop12"><a href="https://www.ikea.com/es/es/customer-service/privacy-policy/"
          class="linkFooter">Política de Privacidad</a></p>
    </div><br>
    <div class="contenedorFooter aireMas">
      <p class="pRow-Right"><a href="#headerIKEA" class="subir">Volver al principio <img src="assets/images/arrow.png"
            class="flecha-arriba" alt="icono flecha"></a></p>
    </div><br>
    <div class="contenedorFooter">
      <p class="pRow-Right">© Inter IKEA Systems B.V. 1999 - 2019</p>
    </div>
  </div>
</div>