.bienvenida-calculadora {
  /* Estilos preguntas frecuentes */
}
.bienvenida-calculadora p:first-child {
  text-align: left;
  font-size: 15px;
  /*margin-top: 20px;*/
  line-height: 147%;
  font-family: 'Segoe UI';
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
@media(max-width:992px){
  .bienvenida-calculadora p:first-child {
    /*width: auto;
    text-align: center;*/
  }
}

@media (max-width: 320px) {
  /*.bienvenida-calculadora p:first-child {
    font-size: 15px;
    line-height: 20px;
  }*/
}
.bienvenida-calculadora p + a {
  display: block;
  text-decoration: none;
  font-weight: normal;
  color: #000000;
  fill: #000000;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  /*text-decoration: underline;*/
  text-decoration-line:overline;
  /*text-decoration-style: wavy;*/
  /*text-decoration-style: red;*/
}
.bienvenida-calculadora p + a:hover {
  /*text-decoration: underline;*/
}
.bienvenida-calculadora p + a:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.bienvenida-calculadora #ver-instrucciones-detalladas > div {
  /*margin-top: 20px;*/
  background: #F2F2F2;
  font-size: 13px;
  line-height: 147%;
  margin-bottom: 10px;
  /*display: inline-flex;*/
}
@media (max-width: 992px) {
  .bienvenida-calculadora #ver-instrucciones-detalladas > div {
    margin-top: 40px !important;
    background: #ffffff !important;
  }
}
.bienvenida-calculadora #ver-instrucciones-detalladas > div div {
  /*margin-top: 20px;*/
  background: #F2F2F2;
  text-align: justify;
}
.bienvenida-calculadora #ver-instrucciones-detalladas > div div > div {
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  font-weight: bold;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  /*padding: 8px;*/
  background: transparent;
  border: 1px solid #707070;
  color: #111;
  text-align: center;
  font-size: 13px;
  float: left;
  margin-top: 3px;
  padding-top: 4px;
  margin-left: auto;
  margin-right: auto;
  float: initial;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .bienvenida-calculadora #ver-instrucciones-detalladas > div div > div {
    margin-bottom: 5px;
    /*float: left;*/
    margin-left: auto;
    margin-right: auto;
  }
}
.bienvenida-calculadora #ver-instrucciones-detalladas > div div:nth-child(2):after {
  /*bottom: 110%;
  left: 46.8%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(242, 242, 242, 0);
  border-bottom-color: #F2F2F2;
  border-top-width: 25px;
  border-bottom-width: 25px;
  border-left-width: 40px;
  border-right-width: 40px;
  margin-left: -25px;*/
}
@media (max-width: 992px) {
  .bienvenida-calculadora #ver-instrucciones-detalladas > div div:nth-child(2):after {
    bottom: 300%;
    left: 47.8%;
  }
}
@media (max-width: 768px) {
  .bienvenida-calculadora #ver-instrucciones-detalladas > div div:nth-child(2):after {
    bottom: 310%;
    left: 45.8%;
  }
}
@media (max-width: 480px) {
  .bienvenida-calculadora #ver-instrucciones-detalladas > div div:nth-child(2):after {
    bottom: 275%;
    left: 46%;
  }
}
@media (max-width: 400px) {
  .bienvenida-calculadora #ver-instrucciones-detalladas > div div:nth-child(2):after {
    bottom: 270%;
    left: 46%;
  }
}
@media (max-width: 360px) {
  .bienvenida-calculadora #ver-instrucciones-detalladas > div div:nth-child(2):after {
    bottom: 270%;
    left: 46%;
  }
}
@media (max-width: 320px) {
  .bienvenida-calculadora #ver-instrucciones-detalladas > div div:nth-child(2):after {
    bottom: 250%;
    left: 46%;
  }
}
.bienvenida-calculadora #ver-instrucciones-detalladas p {
  width: 67%;
  clear:both;
  margin-left: auto;
  margin-right: auto;
  /*float: right;*/
}
@media (max-width: 480px) {
  .bienvenida-calculadora #ver-instrucciones-detalladas p {
    width: 100%;
    /*float:right;*/
  }
}
.bienvenida-calculadora .expander {
  width: 90%;
  margin-left: 5%;
}
.bienvenida-calculadora .expander button {
  margin-bottom: 20px;
  margin-top: 20px;
}
.bienvenida-calculadora .expander .expander__btn:focus {
  outline:none;
  box-shadow: none;
}
.bienvenida-calculadora .expander .expander__btn:active {
  outline:none;
  box-shadow: none;
}
.bienvenida-calculadora .expander svg.svg-icon.svg-icon--black {
  margin-top: 6px;
}
.bienvenida-calculadora .expander .expander__btn-label {
  vertical-align: super;
}
@media(max-width:768px){
  .bienvenida-calculadora .expander #ver-instrucciones-detalladas > div div{
    background: #ffffff;
  }
}
.bienvenida-calculadora .input-file {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bienvenida-calculadora .input-file input[type="file"] {
  /* visibility: hidden etc. wont work */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.bienvenida-calculadora .input-file input[type="file"] + label {
  background: #0058a3;
  color: #fff;
  border-radius: 2px !important;
  padding: 15px 89px !important;
  position: relative;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7143;
  padding: 0;
  -webkit-transition-property: background-color,border-radius,width;
  -o-transition-property: background-color,border-radius,width;
  transition-property: background-color,border-radius,width;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,0,1);
  -o-transition-timing-function: cubic-bezier(.4,0,0,1);
  transition-timing-function: cubic-bezier(.4,0,0,1);
  cursor: pointer;
  font-family: 'Noto sans';
  text-transform: none;
  outline: none;
  /*font-weight: 700 !important;*/
}
@media(max-width:380px){
  .bienvenida-calculadora .input-file input[type="file"] + label{
    padding: 15px 60px !important;
  }
}
.bienvenida-calculadora .input-file input[type="file"] + label:hover {
  background: #3379b5;
  color: #fff;
  border-radius: 4px !important;
}
.bienvenida-calculadora .input-file input[type="file"] + label:focus {
  background: #3379b5;
  color: #fff;
  border-radius: 4px !important;
}
.bienvenida-calculadora .input-file input[type="file"] + label:active {
  background: #004682;
  color: #fff;
  border-radius: 8px !important;
}
.bienvenida-calculadora .input-file input[type="file"] + label * {
  /*pointer-events: none;*/
}
.bienvenida-calculadora hr {
  border-top: 1px solid #707070;
  margin-left: 5%;
  margin-right: 5%;
}
@media (max-width: 992px) {
  .bienvenida-calculadora hr {
    margin-right: 0px;
    margin-left: 0px;
  }
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida {
  /*font-family: 'Segoe UI';*/font-family: 'Noto sans';
  margin-bottom: 20px;
  /* Estilos paneles */
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida h3 {
  margin-top: 15px;
  text-align: center;
  font-size: 22px;
  line-height: 119%;
  /*font-size: 25px !important;*/
  font-weight: bold;
  margin-bottom: 20px;
}
@media(max-width:768px){
  .bienvenida-calculadora .contenedor-preguntas-bienvenida h3 {
    font-size: 17px;
    line-height: 119%;
  }
}
@media (max-width: 320px) {
  .bienvenida-calculadora .contenedor-preguntas-bienvenida h3 {
    /*font-size: 19px !important;*/
    margin-bottom: 15px;
  }
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #707070;
  padding-bottom: 10px;
  padding-top: 0px;
  background: #ffffff;
  cursor: pointer;
}
@media (max-width: 320px) {
  .bienvenida-calculadora .contenedor-preguntas-bienvenida a {
    font-size: 14px !important;
    margin-bottom: 20px;
  }
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida p {
  font-size: 13px;
  line-height: 147%;
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida p:first-child {
  text-align: left;
}
@media (max-width: 320px) {
  .bienvenida-calculadora .contenedor-preguntas-bienvenida p {
    font-size: 13px;
    line-height: 147%;
    margin-top: 0px;
  }
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida .panel-group {
  margin-bottom: 0;
  margin-right: 5%;
  margin-left: 5%;
}
.bienvenida-calculadora .contenedor-preguntas-frecuentes{
  overflow-y: hidden;
  margin-top: 0;
  height: auto;
  margin-top: 27px;
}
.bienvenida-calculadora ul.accordion {
  border-top:none;
  border-bottom:none;
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida .panel-group .panel.panel-default {
  border-color: #ffffff;
  box-shadow: none;
  margin-bottom: 10px;
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida .panel-group .panel.panel-default .panel-heading {
  padding: 0;
}
.bienvenida-calculadora .contenedor-preguntas-bienvenida .panel-group .panel.panel-default .panel-body {
  border-top: none;
  padding: 0;
}
@media (max-width: 320px) {
  .bienvenida-calculadora .contenedor-preguntas-bienvenida .panel-group {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
  .bienvenida-calculadora .contenedor-preguntas-frecuentes {
    padding-left: 0px;
    padding-right: 0px;
  }
}
