<div class="container-fluid">
  <h1>Calcula el precio del montaje<!--<img src="assets/images/information.svg" alt="icono información" ngbTooltip="{{mensajeInformacion}}" placement="bottom">--></h1>
  <div class="wrapper bienvenida-calculadora">
    <div class="row">
      <!-- main -->
      <div class="col-md-offset-3 col-md-6">
        <p>Sube la factura que te adjuntamos en el e-mail de compra y podrás hacer el cálculo automático de tu servicio de Montaje.</p>
      </div>
    </div>
    <div class="expander">
      <div class="expander__container">
        <div class="expander__content expander__content--faded" [ngClass]="{'expander__content--closed':!mostrandoInstrucciones,'expander__content--opened':mostrandoInstrucciones}">
          <div class="list plain">
            <div class="row">
              <div id="ver-instrucciones-detalladas">
                <div>
                  <div class="col-md-offset-3 col-md-6">
                    <div>1</div>
                    <p>Revisa el e-mail que te enviamos y descarga el PDF adjunto; esa es tu factura.<br>
                    </p>
                  </div>
                  <div class="col-md-offset-3 col-md-6">
                    <div>2</div>
                    <p>Sube tu factura a esta plataforma a través del botón: “Subir factura (PDF)”.
                    </p>
                  </div>
                  <div class="col-md-offset-3 col-md-6">
                    <div>3</div>
                    <p>Cuando hayas subido el PDF verás una lista con todos los productos de tu compra,
                        selecciona los que quieres montar y solicita el montaje online.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn--plain expander__btn expander__btn-closed" [ngClass]="{'expander__btn-closed':!mostrandoInstrucciones,'expander__btn--opened':mostrandoInstrucciones}" type="button" aria-expanded="false" (click)="mostrandoInstrucciones=!mostrandoInstrucciones;">
          <span class="expander__line-behind"></span>
          <span class="expander__content">
            <span class="expander__btn-icon">
              <svg *ngIf="!mostrandoInstrucciones" focusable="false" class="svg-icon svg-icon--black" width="24" height="24" aria-hidden="true">
                <path d="M13,11V7H11v4H7v2h4v4h2V13h4V11Z"></path>
              </svg>
              <svg *ngIf="mostrandoInstrucciones" focusable="false" class="svg-icon svg-icon--black" width="24" height="24" aria-hidden="true">
                <path d="M7,11H17v2H7Z"></path>
              </svg>
            </span>
            <span class="expander__btn-label">
              <span *ngIf="!mostrandoInstrucciones">Ver Instrucciones</span>
              <span *ngIf="mostrandoInstrucciones">Cerrar Instrucciones</span>
              <span></span>
            </span>
          </span>
        </button>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12 text-center">
        <div class="expander">
          <div class="expander-line"></div>
          <a data-toggle="collapse" data-target="#ver-instrucciones-detalladas" (click)="mostrandoInstrucciones=!mostrandoInstrucciones;">
            Tú presupuesto en 3 pasos
            <img class="icon-arrow" src="assets/images/arrow.png" alt="icono flecha" [ngClass]="{'down':!mostrandoInstrucciones,'up':mostrandoInstrucciones}">
          </a>
        </div>
      </div>
    </div>-->
    <div class="row">
      <div class="col-md-12">
        <div class="input-file">
          <input type="file" name="file" id="file" (change)="handleFileInput($event.target.files)"/>
          <label for="file">Subir factura (PDF)</label>
        </div>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>-->
    <div class="row">
      <div class="col-md-12">
        <div class="contenedor-preguntas-frecuentes">
            <h3>PREGUNTAS FRECUENTES</h3>
            <app-faqs [tipoFaqs]="'collapse'"></app-faqs>
        </div>

          <!-- contenedor-preguntas-bienvenida -->


        <!-- <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <a data-toggle="collapse" data-target="#pregunta-1">
                ¿Cómo se calcula el precio de montaje? <img class="icon-arrow down" src="assets/images/arrow.png"
                  alt="icono flecha">
              </a>
            </div>
            <div id="pregunta-1" class="panel-collapse collapse">
              <div class="panel-body">
                <p>El precio de montaje se calcula de forma distinta según el tipo de producto:</p>
                <p>1) Si es un sofá, cada sofá son 35€</p>
                <p>2) Si es un armario PAX es son 30€/metro lineal</p>
                <p>3) El resto de productos se calculan por el valor de la mercancía: 35€ los primeros 100€ de mercancía
                  y +15€ por cada 100€ adicionales.</p>
                <p>Por otra parte, aunque siempre intentaremos que el montador y el envío se realicen el mismo día para
                  ahorrar el desplazamiento del montador, si finalmente no fuese posible el desplazamiento del montador
                  tendría un coste de 19€ adicionales.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <a data-toggle="collapse" data-target="#pregunta-2">
                ¿Podré contratar online? <img class="icon-arrow down" src="assets/images/arrow.png" alt="icono flecha">
              </a>
            </div>
            <div id="pregunta-2" class="panel-collapse collapse">
              <div class="panel-body">
                <p>No podrás contratar directamente online por el momento, pero después de calcularlo, si deseas
                  contratarlo basta con que le des al botón de "Quiero contratarlo" para que nuestros compañeros de
                  Atención al cliente reciban tu cálculo y se pongan en contacto contigo a través de una llamada
                  telefónica.</p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- <div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
</div>
<div>
  <pre>
    {{data | json }}
  </pre>
</div>
<div>
  <p>{{error}}</p>
</div> -->
