<div class="topMenu" id="headerIKEA" #cabecera>
  <!--<hr class="separador-hf">-->
  <div class="logoContainer"><a href="https://www.ikea.com/es/es/" id="lnkIKEALogoHeader" class="logoLink">
    <img src="assets/images/logo.svg"
        id="imgIKEALogoHeader" alt="icono IKEA" #logo></a></div>
  <!--<hr class="separador-hf">-->
</div>
